[2017-10-03 16:09] mcicolella opened #1 "Looking for web developers to create a Vue.js application"
We'd like to create a webapp for our domotic framework.

The aim is to reproduce all features integrated int our Java frontend https://github.com/freedomotic/freedomotic/tree/master/plugins/devices/frontend-java
To have an idea you can look at our YouTube channel https://www.youtube.com/freedomotic

Time ago we developed a first prototype in Polymer.You can try it by downloading Freedomotic and po

[2017-10-03 17:31] P3trur0 commented on #1
@mcicolella what about to create a first issue about a general scaffolding for this project? I'd expect to have is using webpack to bundle all the stuff together.

[2017-10-03 18:20] mcicolella commented on #1
Agree. Can you open it?

[2017-10-03 18:26] P3trur0 commented on #1
:+1:

[2017-10-03 18:29] P3trur0 opened #2 "Prepare webpack scaffolding"
In order to setup a proper environment for this project it could be useful to define a clean scaffolding containing the structure of the source code to start to work on.

It is adviced to use **Webpack 2.x**.

The Javascript framework of use is **Vue.js**.

[2017-10-03 20:43] mcicolella opened #3 "Update README.md with more info about the app"

[2017-10-03 23:45] jtkaufman737 commented on #3
Hi, where are you all hosted? I'll help out with this one :)

[2017-10-04 10:01] #2 closed

[2017-10-04 13:39] P3trur0 commented on #3
HI @jtkaufman737 we're interested in develop a front end client for [Freedomotic](https://github.com/freedomotic/freedomotic) using **Vue.js**.

The idea behind this issue is to start to make the repository description clearer.
So far, this repository is almost empty since we've just prepared a basic scaffolding for a Vue application.

Any help is appreciated!

[2017-10-05 16:25] mcicolella opened #7 "Create a connector for RESTful API"
Our framework exposes a RESTful API (see code https://github.com/freedomotic/freedomotic/tree/master/plugins/devices/restapi-v3).
To try it start Freedomotic and point your browser to http://localhost:9111 (API documented by Swagger).

![restful](https://user-images.githubusercontent.com/4079634/31238504-73c0a750-a9fa-11e7-8d49-8c87d2ad8d88.png)

We want to connect this Vue.js client to the RESTfu

[2017-10-05 16:44] mcicolella opened #8 "Create a landing page (login form)"
The landing page should be a login form to access to the dashboard.
Something like this

![login](https://user-images.githubusercontent.com/4079634/31239372-27717732-a9fd-11e7-8d90-ebbdc67daff7.png)

The code of the old Polymer client is https://github.com/freedomotic/fd-polymer-webapp/blob/master/app/index.html

[2017-10-05 18:00] mcastre commented on #8
hello @mcicolella! Are you currently using a third party to handle managing users? Something like [Auth0](https://auth0.com/)?

[2017-10-05 18:00] mcicolella commented on #7
An interesting example https://www.sitepoint.com/fetching-data-third-party-api-vue-axios/

[2017-10-05 19:18] mcicolella commented on #8
For authentication/authorization we are using Apache Shiro ( https://shiro.apache.org)

[2017-10-06 12:21] mcicolella opened #9 "Add multilanguage support for web client"
We want to have a multilanguage web client.
For Freedomotic java client we are using i18N and the same for the old client in Polymer.
Here the code https://github.com/freedomotic/fd-polymer-i18next-translate
Please consider how to reuse the available translations https://github.com/freedomotic/fd-polymer-i18next-translate/tree/master/translation

Of course you can suggest other possible solutions.

[2017-10-07 18:35] hydeenoble commented on #8
is anyone working on this issue??

[2017-10-07 18:54] mcicolella commented on #8
@hydenooble you can take it of you want

[2017-10-07 19:18] mcicolella commented on #8
@hydeenoble you can take it if you want

[2017-10-08 09:59] mcicolella commented on #8
@mcastre still interested?

[2017-10-08 10:30] hydeenoble commented on #8
No, I have to work on something else. Apologies.

[2017-10-08 14:02] mcicolella commented on #7
[This project](https://github.com/connor11528/vuejs-auth-frontend) by @connor11528 seems a good starting point.

[2017-10-08 14:37] mcicolella opened #10 "Different mobile and desktop layouts"
The following layout is good for PCs and tablets but not for smartphones.

![webclient](https://user-images.githubusercontent.com/4079634/31317751-cd12d352-ac46-11e7-839e-43e3d7b2da9d.png)

![webclient2](https://user-images.githubusercontent.com/4079634/31317755-de175cea-ac46-11e7-9df1-a76891706b5f.png)

So we should adapt the layout to different devices.

[2017-10-08 15:37] connor11528 commented on #7
Fo sho! Check out https://auth0.com/blog/build-an-app-with-vuejs/ That's the tutorial I followed and the repo has more notes 👍  🎉

[2017-10-11 06:19] Agrimonia commented on #8
Hi @mcicolella !Is there anything I can help with?

[2017-10-11 07:04] mcicolella commented on #8
hi @Agrimonia you can work on this issue or on another one.

[2017-10-11 13:52] mcicolella opened #11 "Add vue-axios plugin"
In order to interact with our Restful API we need to add vue-axios plugin.

[2017-10-11 14:43] mcicolella commented on #11
Because I read [here](https://vuejsfeed.com/blog/vue-js-retiring-vue-resource) that Vue.js is retiring vue-resource.

[2017-10-11 14:46] bryanjhv commented on #11
Oh. That post just explains that `vuejs/vue-resource` no longer exists because HTTP requests are not a core need for Vue, not that it's bad. Anyway, the methods `vue-axios` exposes are the same. 😄

[2017-10-11 15:57] Agrimonia commented on #8
Are you doing with this work?

[2017-10-12 01:21] Rud156 commented on #11
Why not use just axios?

[2017-10-12 07:25] #11 closed

[2017-10-12 10:39] P3trur0 commented on #8
@Agrimonia yes for sure, the idea is to refactor **freedomotic-polymer-app** with **Vue.js**. Any help is appreciated!

[2017-10-23 13:32] mcicolella commented on #8
@Agrimonia are you still working on this?

[2017-10-23 14:34] Agrimonia commented on #8
@mcicolella Well, I am tired to deal with the whole project myself. Is anyone working on this issue?

[2017-10-23 20:34] mcicolella opened #16 "Create a dashboard for Vuejs client"
This dashboard can be used for desktop and tablet visualization.
Here the version developed in Polymer

![dashboard](https://user-images.githubusercontent.com/4079634/31911820-3413e382-b842-11e7-922b-81466cfdc040.png)

The [components](https://github.com/freedomotic/fd-polymer-webapp/tree/master/app/elements) should be converted or adapted to the new Vue.js client.
Demo available at try http://104

[2017-10-23 21:09] ninja542 commented on #16
so you want to convert polymer components into vue components?

[2017-10-23 23:45] amenak77 commented on #16
@ninja542 yes! We have a webapp made with Polymer 0.5 and what is already implemented works fine but in the complex the project is a dead end due to major changes needed to convert it to 1.0 ver. first place, and then to 2.0. So we are refactoring web app project with Vue.js. Any help is appreciated, thanks

[2017-10-25 20:19] mcicolella commented on #7
This [library](https://github.com/websanova/vue-auth) also supports 'basic' authentication.

[2017-10-26 03:08] amenak77 commented on #16
@ninja542 are you working on this?

[2017-10-26 03:12] ninja542 commented on #16
ah, I'm just recently learning vue, and I don't know how to work with vue components, so I don't think I can work on this

[2017-10-26 04:03] amenak77 commented on #16
@ninja542 ok, no problem; maybe is there some other Vue issue about our client, you are interested trying to fix?

[2017-10-26 16:00] mcicolella commented on #8
@Agrimonia I'm on it. Infact I added a first template of [Login](https://github.com/freedomotic/fd-vue-webapp/blob/master/src/components/Login.vue) component using a fake authentication system. For now.

[2017-10-26 16:09] mcicolella opened #18 "Add authentication for web client"
In the first prototype we are using a [fake authentication system](https://github.com/freedomotic/fd-vue-webapp/blob/master/src/auth.js) to make some tests.
We should create a "real" system to interact with our domotic framework APIs.
Axios is already installed.
[This](https://medium.com/codeartisan/users-authentication-with-vue-js-lumen-5e58ec9e6f7e) is an interesting article.

[2017-10-27 09:14] P3trur0 commented on #7
Is anyone working on this? I could start to work on it next Sunday evening.

[2017-10-27 09:41] mcicolella commented on #7
In the last commit (#18) I experimented a "fake" authentication without using any external library. This mechanism could be replaced by a "real" authentication as reported in[ this article](https://medium.com/codeartisan/users-authentication-with-vue-js-lumen-5e58ec9e6f7e).
Until the JWT is not implemented we could generate a token by code as in the "fake" example.

[2017-10-28 07:49] mcicolella opened #19 "Convert Polymer corner-button component to Vue.js component"
We want to convert [this](https://github.com/freedomotic/fd-polymer-webapp/blob/master/app/elements/nautes-corner-button.html) Polymer component to Vue.js.
It is used at the four corners in the dashboard as in the attached image.

![corner-button](https://user-images.githubusercontent.com/4079634/32132492-15e2495e-bbc5-11e7-8df1-f976da9cbb97.png)

Demo available at try http://104.236.92.231:8090/

[2017-10-28 08:19] mcicolella commented on #8
The original code of the Polymer Login component is available [here](https://github.com/freedomotic/fd-polymer-webapp/blob/master/app/index.html#L36).
[Another nice example](https://medium.com/codeartisan/users-authentication-with-vue-js-lumen-5e58ec9e6f7e).

[2017-10-29 14:09] mcicolella opened #21 "Create a 'list' component"
We need a 'list' component for our Vue.js client.
Possibly convert [this ](https://github.com/freedomotic/fd-polymer-webapp/blob/master/app/elements/fd-elements-list.html)Polymer component.

[2017-10-29 15:57] williamparry commented on #21
Happy to work on this. I installed the polymer app, but the endpoints don't seem to be responding:

https://github.com/freedomotic/fd-polymer-webapp

[2017-10-29 16:10] mcicolella commented on #21
Hi @williamparry you have to download the last dailybuild from http://teamcity.jetbrains.com/guestAuth/repository/download/bt1177/.lastSuccessful/freedomotic-5.6.0-%7Bbuild.number%7D.zip, run it and point your browser to http://localhost:9111/ for APIs or http://localhost:8090 for polymer web app.
Default credentials are admin/admin.

[2017-10-29 16:11] mcicolella commented on #21
Alternatively try http://104.236.92.231:8090/

[2017-10-29 16:13] williamparry commented on #21
I'm in with 104.236.92.231

Cheers

[2017-10-29 21:33] williamparry commented on #1
Are you looking to preserve the UI look & feel?

[2017-10-29 21:55] mcicolella commented on #1
Yes if possible

[2017-10-30 15:23] williamparry commented on #1
I've put vue-material into this: https://github.com/freedomotic/fd-vue-webapp/pull/22 is that OK?

[2017-10-30 15:23] williamparry commented on #8
This has been worked on here: https://github.com/freedomotic/fd-vue-webapp/pull/22

[2017-10-30 15:35] mcicolella commented on #1
@williamparry I like much!! Thanks
Here a screenshot
![login](https://user-images.githubusercontent.com/4079634/32179673-4d1ea9f4-bd90-11e7-88f7-fd77dc606e40.png)

[2017-10-30 15:46] mcicolella commented on #10
@williamparry what about this?
For you is it better adapting the layout automatically (by recognizing a tablet/pc or a smartphone) or asking the user to make a choice?

[2017-10-30 16:14] mcicolella opened #23 "Add Travis CI configuration for web client"

[2017-10-31 08:47] mcicolella opened #25 "Create 'Plugin' Vue.js component"
We want to convert [this](https://github.com/freedomotic/fd-polymer-elements/blob/master/fd-polymer-plugin.html) Polymer component to Vue.js.
It's the basic component to create the plugins' list.

![plugin](https://user-images.githubusercontent.com/4079634/32214798-50bb76e2-be20-11e7-9bbf-74607f95c8f9.png)

[2017-10-31 08:51] mcicolella commented on #7
[Here](https://github.com/freedomotic/fd-polymer-rest-service/blob/master/fd-polymer-rest-service.html) the original service developed in Polymer.

[2017-10-31 15:34] mcicolella commented on #9
[Here](https://stackoverflow.com/questions/46464035/how-can-i-use-lang-class-laravel-in-vue-js-2/46469501#46469501) a possible solution based on vue-18n plugin.

[2017-10-31 15:48] P3trur0 commented on #7
@mcicolella do you expect a Vue component for this or is it better to define an utility JS file supporting REST calls?

[2017-10-31 16:08] mcicolella commented on #7
@P3trur0 ok for an utility JS file.

[2017-10-31 18:10] mcicolella commented on #7
[This](https://github.com/freedomotic/fd-polymer-rest-service/blob/master/fd-polymer-rest-service.html) is the Polymer Rest service component.

[2017-11-04 17:46] mcicolella commented on #25
[Here](https://github.com/freedomotic/fd-vue-webapp/blob/master/src/components/Plugin.vue) a first draft of Vue.js component.

[2017-11-04 17:51] mcicolella commented on #16
[Here](https://github.com/freedomotic/fd-vue-webapp/blob/master/src/components/Dashboard.vue) a first draft.
CornerButton components should be set correctly.
Css derives from Polymer element and should be reviewed and adapted.

[2017-11-04 17:54] mcicolella commented on #19
[Here](https://github.com/freedomotic/fd-vue-webapp/blob/master/src/components/CornerButton.vue) a first draft.
Todo:
- add an icon with a tooltip as in the previous image
- review script section

[2017-11-15 20:25] P3trur0 commented on #23
@mcicolella I am going to clean this up, since current **TravisCI** builds are failing.
The reason is because no proper **Selenium** server is started before **e2e** tests.

[2017-11-16 07:57] #23 closed

[2017-11-16 08:02] mcicolella commented on #23
@P3trur0 Good work, thanks!

[2017-11-16 08:25] P3trur0 commented on #21
hi @williamparry, are you still on this issue?

[2017-11-17 10:00] mcicolella commented on #16
A new draft is available. Every corner has its own icon and tooltip.
Material icons used.

![dashboard](https://user-images.githubusercontent.com/4079634/32941565-6cf0bbb0-cb86-11e7-8159-5c5227ead555.png)

[2017-11-18 14:36] #3 closed

[2017-11-22 08:27] mcicolella commented on #9
e4a940053419baacbb48ca4bafc03874661b42ff introduces multilanguage support based on [vuex-i18n](https://github.com/dkfbasel/vuex-i18n) plugin.

[2017-12-17 19:43] P3trur0 commented on #8
@mcicolella @williamparry I think this could be closed since a first login page draft has been implemented.

[2017-12-17 19:43] #8 closed

[2017-12-17 22:09] P3trur0 commented on #1
Closed with #36

[2017-12-18 08:40] #1 closed

[2017-12-18 09:05] mcicolella commented on #10
@P3trur0 your opinion?

[2017-12-18 09:12] P3trur0 commented on #10
@mcicolella @williamparry technically speaking for me is better to go with a responsive layout, but since this client should be used as a dashboard console also going with an upfront layout selection for the user could be fine.

[2017-12-18 09:16] P3trur0 opened #37 "Vuex introduction"
I see that in order to deal with client I18N, it has been introduced a [dependency to **Vuex**](https://github.com/freedomotic/fd-vue-webapp/blob/870609a934df8a351b24d29dc274eebf0a886ed1/src/main.js#L6).

Is it worth to use Vuex to manage all the model of this application? Opinions anyone?

@mcicolella @williamparry

[2017-12-18 09:25] mcicolella commented on #19
This issue could be closed but I have a rendering problem. Tooltips are showed only with Chrome, as in the attached image.  Not showed in Firefox and I haven't tried with IExplorer.
Compatibility problem?
![chrome](https://user-images.githubusercontent.com/4079634/34098761-bb886894-e3dd-11e7-8f4d-0d6f26a01b11.png)

[2017-12-18 09:47] mcicolella commented on #9
The app should set the locale automatically based on the system one.
How to get the system locale? I found out [`os-locale`](https://github.com/sindresorhus/os-locale).
@P3trur0 what about? Any suggestion or alternative?

[2017-12-18 09:54] mcicolella commented on #37
@P3trur0 the app uses many parent/child components and they communicate via props. Maybe a centralized state control with Vuex could simplify the logic but I'm not very expert. At this moment I'm reading an [article](https://medium.com/js-dojo/migrating-a-vuejs-app-to-vuex-b1762bfd4cf1) about the issue.

[2017-12-18 13:00] P3trur0 commented on #37
@mcicolella I mean, since it has already been introduced due to I18N, we could start to adopt it also to manage the remaining part of the model.

[2017-12-18 17:28] mcicolella opened #38 "System component"
Currently Polymer client shows only a button to shutdown the system.
We should define which controls to add to this component.

![system](https://user-images.githubusercontent.com/4079634/34119091-360d7cf6-e421-11e7-9836-52f59c9c4124.png)

![system2](https://user-images.githubusercontent.com/4079634/34119092-3646e964-e421-11e7-90fe-8c0268ea0d2d.png)

[2017-12-18 17:35] mcicolella opened #39 "Thing component"
IMHO current Polymer implementation requires some improvements
- sensors don't show values directly but only their icon as shown in the attached image
- things' behaviors are not shown
- it's possible to create a new thing only by duplicating an existing one (after pressing '+' button that enables 'copy' feature) so you can't select a template not already present on the map

![things-list](https:/

[2017-12-18 17:37] mcicolella commented on #37
@P3trur0 Ok for me.

[2017-12-18 17:47] mcicolella opened #40 "AutomationPanel component"
This component is intended to manage Freedomotic automations (aka reactions).
We'd think about the best UX.

Note: no component is currently implemented in Polymer client.

![automations](https://user-images.githubusercontent.com/4079634/34119844-e454ce2a-e423-11e7-8a9b-497d29ddab0c.png)

[2017-12-18 17:55] mcicolella opened #41 "Add Environment component"
This component is intended to show a map with all the things in the environment.
Some features:
- drag and drop things
- show things' properties
- add new environments
- delete existent environments
- change environments' properties (name, rooms)

![environment](https://user-images.githubusercontent.com/4079634/34120083-bd218496-e424-11e7-981a-6a2220d49af5.png)

[2017-12-19 15:37] mcicolella commented on #41
[Polymer environment component](https://github.com/freedomotic/fd-polymer-environments/blob/master/fd-polymer-environment.html)

[2017-12-19 20:50] P3trur0 commented on #38
@mcicolella I am starting to work on this.

[2017-12-19 20:57] P3trur0 opened #42 "Introduce a static background for the client"
At the moment, the background of each screen of the client is randomly selected from a set of Flickr URL.

We'd like to get rid of this behavior by introducing a single static asset, namely a `background.png`. Since the color of Freedomotic logo is a green one, we'd like to have an image containing either `#8bae2d` or `#75c200`.

[2017-12-19 21:06] P3trur0 commented on #38
Since we need to communicate events across different components, my idea here is to introduce Vuex and use it also as event bus. See [here](https://vuex.vuejs.org/en/actions.html) for further info.

So, the implementation that I am going to do in order to assess this issue will, somehow, satisfy the requirement defined in #37.

[2017-12-19 21:07] P3trur0 opened #43 "Introducing Trello board for organizing project implementation"
What do you think to organize a Trello board to define priorities for all the issues opened so far?
Indeed, at the moment, the opened issues are definitely ok, but maybe we need to prioritize them a little in order to have a cleaner approach to development itself.

[2017-12-20 07:26] mcicolella commented on #43
@P3trur0 it's ok for me.

[2017-12-20 08:06] mcicolella commented on #42
@P3trur0 I made a search by color on Flickr
https://labs.tineye.com/multicolr/#colors=8bae2d;weights=100;
https://labs.tineye.com/multicolr/#colors=75c200;weights=100;

We can start from them.

[2017-12-20 08:12] P3trur0 commented on #42
@mcicolella I didn't know this website: it's awesome! Are all those images royalty free?

[2017-12-20 08:16] P3trur0 commented on #42
@mcicolella alternatively we can consider something from **unsplash.com** as [these](https://unsplash.com/search/photos/green)

[2017-12-20 08:47] mcicolella commented on #42
@P3trur0 Tineye searches Flickr so I think a lot of images are royalty free but maybe not all. We'd check it out.

[2017-12-20 15:28] mcicolella opened #45 "Add Zone component"
It is used to represent a zone inside an environment (#41).
We can start from related [Polymer component](https://github.com/freedomotic/fd-polymer-webapp/blob/master/app/elements/nautes-zone.html).

[2017-12-20 15:38] mcicolella opened #46 "Markerplace component"
It is used to represent the plugins' marketplace.
It shows a list of categories and for each of them a list of available plugin.

We can start from related [Polymer component](https://github.com/freedomotic/fd-polymer-webapp/blob/master/app/elements/nautes-marketplace.html).

Here a screenshot from Jfrontend
![marketplace](https://user-images.githubusercontent.com/4079634/34214909-1c53101c-e5a4-11

[2017-12-28 21:19] mcicolella commented on #38
In this component we could add another option to select the language to use.

[2017-12-29 13:36] mcicolella commented on #42
Fixed in #49

[2017-12-29 13:36] #42 closed

[2018-01-10 09:49] mcicolella opened #52 "Some problems with i18n inside attributes"
When you try to add an i18n string inside an attribute an exception is raised.
For example in Dashboard component
`tooltip="{{$t('user_account')}}": Interpolation inside attributes has been removed. Use v-bind or the colon shorthand instead. For example, instead of <div id="{{ val }}">, use <div :id="val">`

[2018-01-10 10:16] mcicolella commented on #52
The first tip seems ok. I'll open a PR to fix this issue.
Thanks.

[2018-01-10 10:47] mcicolella opened #53 "InfoBox component requires a "title" attribute for i18n"
Under the icon it shows `action` property as a title so if you translate it by i18n `openWindow()` doesn't work anymore.

[2018-01-10 10:57] mcicolella opened #54 "Tooltips for buttons not showed in Firefox"
It seems a known problem as reported [here](https://github.com/vuematerial/vue-material/issues/1171).
Chrome is OK.

[2018-01-10 14:45] #52 closed

[2018-01-10 14:48] mcicolella opened #56 "Bad color rendering in production"
I tried to update our webserver plugin with the new Vue client but the rendering of colors is wrong.
In attachment a sample image. The same for Chrome and Firefox.

![build](https://user-images.githubusercontent.com/4079634/34778421-9551a21a-f61d-11e7-89cb-668d6b37316f.png)

[2018-01-14 16:19] mcicolella opened #58 "Introducing components documentation"
Components should be properly documented.
[propdoc ](https://github.com/propellant/doctor) is a possible solution.

[2018-01-16 10:14] #53 closed

[2018-01-16 10:21] mcicolella opened #60 "Transform 'props' in other properties of the Vuex global state"
Affected components:

- InfoBox
- Plugin
- CornerButton

[2018-01-16 10:23] mcicolella commented on #56
@P3trur0 what about?

[2018-01-16 10:53] #19 closed

[2018-01-16 10:54] #16 closed

[2018-01-16 11:00] mcicolella commented on #10
What about introducing [vue-responsive ](https://www.npmjs.com/package/vue-responsive)?

[2018-01-16 11:01] P3trur0 commented on #56
@mcicolella are you still having this issue? Which browser versions are you using? I can have a look next weekend.

[2018-01-17 08:48] mcicolella opened #61 "Adding BrowserStack logo"
This issue is intended only to upload BrowserStack logo.

![browserstack-logo](https://user-images.githubusercontent.com/4079634/35033595-8fcad840-fb6b-11e7-9ab3-a6f937828e8a.png)

[2018-01-17 08:53] mcicolella commented on #61
![browserstack](https://user-images.githubusercontent.com/4079634/35033806-4e478818-fb6c-11e7-904b-49fb072aa7ab.png)

[2018-01-17 16:10] mcicolella opened #62 "Add country flags to Language component"
It'd be nice to change the current buttons with the flags of the countries to represent the supported languages.

[2018-01-17 16:22] P3trur0 commented on #62
I'd like to take this.

[2018-01-18 15:24] #61 closed

[2018-01-19 15:15] mcicolella commented on #56
@P3trur0 yes I'm still having the problem with latest Chrome and Firefox versions.

![bad_rendering](https://user-images.githubusercontent.com/4079634/35157337-f73c8752-fd33-11e7-803a-0a37fee6cedd.png)

[2018-01-19 15:47] mcicolella opened #63 "Manage toast messages"
We need a way to show info, warning, error messages.
I found out some interesting components based on Vuex:

- [vuex-toast](https://github.com/ktsn/vuex-toast/tree/master/examples)
- [vue-toasted](https://github.com/shakee93/vue-toasted)

[2018-01-19 15:57] mcicolella opened #64 "Introduce responsive design"
In order to make the client responsive we need to adopt a good solution for this.
I found out

- [vue-mq](https://github.com/AlexandreBonaventure/vue-mq)
- [vue-responsive](https://github.com/reinerBa/Vue-Responsive)

[2018-01-20 09:38] mcicolella opened #65 "Manage websockets"
We need to manage some websockets to receive updates about plugins or things state or messages from the framework.

We could create a component for this based on [vue-websocket ](https://github.com/icebob/vue-websocket) or other solutions.

[Here](https://github.com/freedomotic/fd-polymer-ws-service) the Polymer component developed for that.

[2018-01-20 09:46] mcicolella opened #66 "Trigger component"

[2018-01-20 09:47] mcicolella opened #67 "Command component"

[2018-01-20 09:48] mcicolella opened #68 "AutomationPanel component"
This component is used to manage all Freedomotic's automations.

[2018-01-20 09:50] mcicolella opened #69 "Role component"
This component is used to manage system roles.

[2018-01-20 09:51] mcicolella opened #70 "User component"
This component is used to manage users.

[2018-01-20 10:26] mcicolella opened #71 "ThingsPanel component"
Things Panel component shows a list of things based on the current selected environment.

[2018-01-20 16:15] mcicolella opened #72 "Advanced Mode option"
This option could be useful to enable/disable advanced features.
It should be added to the System component.

[2018-01-20 17:07] #72 closed

[2018-01-21 05:19] amenak77 commented on #56
Hi, it is not a browser issue;  the interpreter renders correctly from cloned repo. The problem is either a conceptual bug about some element's project or more probably a compilation issue

[2018-01-23 14:51] #37 closed

[2018-01-24 17:54] mcicolella commented on #63
I think the best solution is https://artemsky.github.io/vue-snotify/

[2018-01-26 07:33] #63 closed

[2018-02-22 15:07] #43 closed

[2018-03-01 08:12] mcicolella opened #79 "Add AddButton component"
This type of component could be useful for each panels requiring an 'add' function.
E.g. add a new automation, add a new thing, add a new plugin...

It could be similar to [CloseButton](https://github.com/freedomotic/fd-vue-webapp/blob/master/src/components/CloseButton.vue) but located at right bottom corner and having a property "function to call".  This way you can reuse it in different componen

[2018-03-01 10:06] mcicolella opened #80 "Add Login component for mobile GUI"
It should be called MobileLogin and loaded instead of Login when a mobile platform is detected.

[2018-03-01 10:10] mcicolella commented on #64
We already introduce a mobile layout based on Onsen UI.
Maybe this issue can be closed.

[2018-03-01 10:11] mcicolella opened #81 "Find a way to load components only when required"

[2018-03-01 11:07] P3trur0 commented on #64
I agree. For now let's close it.

[2018-03-01 11:07] #64 closed

[2018-03-02 09:00] mcicolella opened #83 "Add PanelToolbar component"
Now every "Panel" component has a duplicated code for the toolbar as

[code]

We'd consider to extract this code and create a reusable component "PanelToolbar" with a property "title" and maybe another "background-color" for customization.

[2018-03-03 15:44] mcicolella commented on #7
Maybe we could consider [vuex-rest-api](https://github.com/christianmalek/vuex-rest-api) to manage APIs.

[2018-03-03 16:15] mcicolella commented on #40
A first example (not completely working) is available [here](https://github.com/freedomotic/fd-vue-webapp/blob/master/src/components/AutomationsPanel.vue).

![automations_list](https://user-images.githubusercontent.com/4079634/36936474-50be78d2-1f06-11e8-98c2-358a47dd2b4c.png)
![automation_delete](https://user-images.githubusercontent.com/4079634/36936476-5977684e-1f06-11e8-8485-80a030f73147.png)

[2018-03-09 10:19] mcicolella commented on #56
Maybe [this](https://forum.vuejs.org/t/bad-color-rendering-in-production/26857/5) is a possible fix.

[2018-03-13 14:56] mcicolella commented on #41
[Vue-Konva](https://github.com/rafaesc/vue-konva) is a good solution to manage canvas.

[2018-03-14 17:43] mcicolella commented on #41
First PoC added by ce3a25b036b7c0957bda9cb1b56bdc7a323d61b4.
There are two components: EnvironmentsPanel for the list of environments and Environment to manage each of them.
Environment creates a canvas to show the environment background.
Many other tasks have to be completed.

[2018-03-15 08:55] mcicolella opened #85 "Reorganize Vuex with modules"
Now we have a single file for actions, a single file for mutations etc. We could create different modules to collect all actions related to triggers or commands or plugins etc.
The same for mutations and application state.

[2018-03-15 09:30] mcicolella commented on #71
A first draft is available [here](https://github.com/freedomotic/fd-vue-webapp/blob/master/src/components/ThingsPanel.vue).
It's opened by clicking on [BottomMenu](https://github.com/freedomotic/fd-vue-webapp/blob/master/src/components/BottomMenu.vue).
We need to add the opening effect as in the gif.

![zkdypm](https://user-images.githubusercontent.com/4079634/37454817-dab958e8-283b-11e8-8c74-9fda

[2018-03-15 09:35] mcicolella commented on #46
A first draft is available [here](https://github.com/freedomotic/fd-vue-webapp/blob/master/src/components/Marketplace.vue).
It's called by [PluginsPanel](https://github.com/freedomotic/fd-vue-webapp/blob/master/src/components/PluginsPanel.vue) when you want to add a new plugin.
The list of available plugins should be syncronized with the selected category.

[2018-03-15 09:51] mcicolella opened #86 "Populate Environment component with things"
Every [Environment](https://github.com/freedomotic/fd-vue-webapp/blob/master/src/components/Environment.vue) component should be populated with a list of related things.
For developing purpose it's possible to retrieve the list of things from https://github.com/freedomotic/fd-vue-webapp/blob/ce3a25b036b7c0957bda9cb1b56bdc7a323d61b4/src/store/index.js#L45.
Every element in the list has x,y coordina

[2018-03-15 09:53] mcicolella commented on #86
In the Polymer client the related code is [here](https://github.com/freedomotic/fd-polymer-environments/blob/master/fd-polymer-environment.html).

[2018-03-15 10:24] mcicolella opened #87 "Adjust layout of EnvironmentsPanel"
[This component](https://github.com/freedomotic/fd-vue-webapp/blob/master/src/components/EnvironmentsPanel.vue) manages the list of available environments and uses [Environment](https://github.com/freedomotic/fd-vue-webapp/blob/master/src/components/Environment.vue) component to manage them.

It should be centered in the dashboard and scaled as needed.
In the [Polymer client](https://github.com/fr

[2018-03-15 10:52] mcicolella opened #88 "Manage Rooms in Environment component"
#41

[2018-03-16 07:43] mcicolella opened #89 "Slider component"
We need a slider component to manage some behaviors as lights' dimming but it's missing in Vue Material.
It's on the way as reported [here](https://github.com/vuematerial/vue-material/issues/115) but there isn't a deadline.
Maybe we should adopt a temporarly (or not) alternative solution. Any idea?

[2018-03-20 17:48] mcicolella opened #93 "Add getters to Vuex"
These could be used to filter data in the store based on specific parameters (e.g. all things of a type, all triggers related to a particular protocol etc.)

[2018-04-04 14:23] mcicolella opened #94 "Add a Vuex getter to retrieve all hardware triggers"
We need a getter to retrieve from the [triggersList](https://github.com/freedomotic/fd-vue-webapp/blob/822825b3b1307d003ddfebddbb21dc03d5ee2709/src/store/index.js#L51) all the triggers having "hardwareLevel" property set to "true".

E.g. see [here](https://github.com/freedomotic/fd-vue-webapp/blob/822825b3b1307d003ddfebddbb21dc03d5ee2709/src/assets/json/triggers.json#L30)
#93

[2018-04-04 14:47] mcicolella opened #95 "Add a Vuex getter to retrieve the list of available protocols"
#92 This list is based on the ["protocol.name"](https://github.com/freedomotic/fd-vue-webapp/blob/822825b3b1307d003ddfebddbb21dc03d5ee2709/src/assets/json/plugins.json#L296) property in the [pluginsList](https://github.com/freedomotic/fd-vue-webapp/blob/822825b3b1307d003ddfebddbb21dc03d5ee2709/src/store/index.js#L48).

Also add an "unknown" item.
#93

[2018-04-07 15:23] mcicolella opened #96 "Add an option to upload new resources"
We need an option to upload resources as images for environments' background, icons associated to things etc.
This could be added to [System](https://github.com/freedomotic/fd-vue-webapp/blob/master/src/components/System.vue) component.
Note: a specific API is required in [RestAPI](https://github.com/freedomotic/freedomotic/blob/master/plugins/devices/restapi-v3/src/main/java/com/freedomotic/plugi

[2018-04-10 10:42] aalsiuser commented on #39
Hey, i think i can help you if you want any need for me.
I read the above comment but i didn't get the total idea of what your idea and content of the website.
I will be a waiting for your reply if you want any need for me?

[2018-04-10 14:40] mcicolella commented on #39
Hi @aalsiuser thanks for your interest!
We already have a draft of this [component](https://github.com/freedomotic/fd-vue-webapp/blob/master/src/components/Thing.vue) as you can see in the picture.

![things](https://user-images.githubusercontent.com/4079634/38563705-cd234052-3cdd-11e8-8a14-97fed3d90257.png)

Now we are trying to place the behaviors' values for each type of thing.
E.g. lights show

[2018-04-11 15:57] aalsiuser commented on #39
Thanks for your reply @mcicolella ,
I cloned you app with my local system and sincerely i have to appreciate you project and it looks really interesting.
Can you please provide me details where my help for your project will be appreciated or else you can assign me some tasks so that i can get an idea where to work on?

[2018-04-13 12:03] mcicolella commented on #39
@aalsiuser you can take a look at the open issues and choose one or more of them if you want to contribute.

[2018-04-14 08:46] mcicolella opened #97 "Travis CI failed with node.js 6"
Here the log message

`
PhantomJS 2.1.1 (Linux 0.0.0) ERROR
  Error: Cannot find module "babel-helper-vue-jsx-merge-props"
  at webpack:///~/vue-nav-tabs/dist/vue-tabs.common.js:12:0 <- index.js:35674
PhantomJS 2.1.1 (Linux 0.0.0): Executed 0 of 0 ERROR (0.531 secs / 0 secs)
npm ERR! Linux 4.4.0-101-generic
npm ERR! argv "/home/travis/.nvm/versions/node/v6.14.1/bin/node" "/home/travis/.nvm/version

[2018-04-14 08:47] mcicolella opened #98 "Travis CI failed with node.js 7"
Here the log message

`
PhantomJS 2.1.1 (Linux 0.0.0) ERROR
  Error: Cannot find module "babel-helper-vue-jsx-merge-props"
  at webpack:///~/vue-nav-tabs/dist/vue-tabs.common.js:12:0 <- index.js:35674
PhantomJS 2.1.1 (Linux 0.0.0): Executed 0 of 0 ERROR (0.384 secs / 0 secs)
npm ERR! Linux 4.4.0-101-generic
npm ERR! argv "/home/travis/.nvm/versions/node/v7.10.1/bin/node" "/home/travis/.nvm/version

[2018-04-14 09:44] aalsiuser commented on #39
Hey @mcicolella i started enhancing the above feature but still have many doubts can you please send me a documentation of your project or else any way of communication so that i can get you with any small doubt to complete this feature earlier.

[2018-04-14 12:32] mcicolella commented on #39
@aalsiuser the doc is available at http://freedomotic-developer-manual.readthedocs.io/en/latest/
This Vue.js client is an improvement of an old one based on Polymer. You can try it by downloading Freedomotic from http://sourceforge.net/projects/freedomotic/files/freedomotic-commander-5.6.0-rc4.zip/download and navigate to http://localhost:8090 (admin/admin as credential).
In you have any specific

[2018-05-06 10:02] mcicolella commented on #93
Getters support added in 0cf098f636edbd64b61bf576adcb4a1e532807fa

[2018-06-18 09:15] #97 closed

[2018-06-18 09:16] #98 closed

[2018-06-20 07:20] mcicolella commented on #65
[Here](https://github.com/freedomotic/fd-vue-webapp/blob/master/src/utils/websocket.js) a first draft of utility to manage websocket.
We're thinking of introducing a single websocket endpoint in RestAPI to manage all messages (about plugins, things, commands, tringgers etc.).
Based on the type of message we manage the correct action to carry out in order to update Vuex store.

[2018-07-04 07:04] mcicolella commented on #79
Fixed using Vue Material FAB button

[2018-07-04 07:04] #79 closed

[2018-07-07 09:42] mcicolella opened #111 "$snotify is undefined ouside Vue components"
I'm trying to notify a message received by websocket but $snotify is undefined in the context of websocket.js. The same from Vuex, e.g. to show an error message when something (action or mutation) goes wrong.

[2018-07-07 13:44] mcicolella commented on #111
After Googling I found out a solution [here](https://github.com/artemsky/vue-snotify/issues/29).

[2018-07-07 14:20] #111 closed

[2018-07-07 16:46] mcicolella opened #113 "API to retrieve images from the server doesn't work correctly"
[Here](https://github.com/freedomotic/fd-vue-webapp/blob/master/src/components/Plugin.vue) an example to retrieve the plugin image.
It uses a [Vuex action](https://github.com/freedomotic/fd-vue-webapp/blob/cecfd8b21b1b190356ebcd6cd5c7f6236cf45935/src/store/actions.js#L193) to perform an Axios request.
The server replies with HTTP 303 status code and the new location but no request is executed.
For

[2018-07-18 13:59] mcicolella commented on #113
[This](https://github.com/freedomotic/fd-vue-webapp/blob/956786cb66d9595f03b61021df7460fffd9b4afd/src/store/actions.js#L194) is the updated Vuex action.
No problem with Chrome.
Firefox raises a CORS exception
![error_firefox](https://user-images.githubusercontent.com/4079634/42886317-8b5dff40-8aa3-11e8-91cb-244711eaf42a.png)

[2018-07-20 17:18] P3trur0 commented on #62
@mcicolella Yes, I'd like to work on this.

[2018-07-21 15:32] mcicolella commented on #62
@P3trur0  great work! Thanks

[2018-07-21 15:32] #62 closed

[2018-07-21 15:40] mcicolella commented on #113
@P3trur0 if you have time could you give a try on Firefox?

[2018-07-21 15:44] P3trur0 commented on #113
@mcicolella ok then, maybe tomorrow I have few spare time. I'll give it a look

[2018-07-23 09:34] mcicolella commented on #89
I introduced [vue-slider-component](https://github.com/NightCatSama/vue-slider-component) in aaece251fa9edc7a2e9cad6bcc3eec55622db406. It seems a good solution.

[2018-07-23 09:37] mcicolella commented on #38
@P3trur0 maybe yes for now even if I'd like to enable these commands only for administrators or users with high privileges.

[2018-07-23 09:38] mcicolella commented on #56
@P3trur0 what about the proposed fix in the previous comment?

[2018-07-23 09:47] P3trur0 commented on #56
@mcicolella we could give it a try.

[2018-07-23 09:51] P3trur0 opened #118 "System component should be accessible only to administrator users"
System component should be visible only to administrator users.
Then, it could be useful to introduce some Access Control List for customize access roles according to the logged user.

[2018-07-23 09:51] P3trur0 commented on #38
I close this issue. Please refer to #118 for further enhancements.

[2018-07-23 09:51] #38 closed

[2018-07-23 09:53] P3trur0 opened #119 "Setting up a working test environment"
Currently, this Vue application does not implement testing activities properly. It would be very helpful in defining a valid testing pipeline for:

- Vue components
- Integration
- Snapshots

[2018-07-24 13:15] mcicolella commented on #87
Fixed with 8adb0d05852b7f5fa430b778a3c3ea5b7ee00849

[2018-07-24 13:15] #87 closed

[2018-07-24 14:39] mcicolella commented on #80
Fixed in 679c7fb98f8183edde10d364201847592ea02323

[2018-07-24 14:39] #80 closed

[2018-07-24 14:45] mcicolella opened #123 "Enable plugins install/uninstall"
These actions are already planned in Vuex but they require to fix the following issues on RestAPI plugin

- https://github.com/freedomotic/freedomotic/issues/430

- https://github.com/freedomotic/freedomotic/issues/280

[2018-07-24 14:53] mcicolella opened #124 "Align Plugins panel"
The elements inside this component should be aligned properly.

[2018-07-24 14:54] mcicolella opened #125 "Add some screenshots to README"
This could make the project more attractive.

[2018-07-24 15:01] mcicolella commented on #9
It seems os-locale is no more updated and there are some major issues.

[2018-07-24 15:02] #25 closed

[2018-07-24 15:18] mcicolella opened #126 "Some improvements to Environment component"
1. the canvas dimensions should be mapped to the environment width and height (see [here](https://github.com/freedomotic/fd-polymer-environments/blob/3098f769ee05829a07810c48a873f65f93dae65e/fd-polymer-environment.html#L163))
2. background image should be retrieved via API (passing "environment.backgroundImage" to [getResource action](https://github.com/freedomotic/fd-vue-webapp/blob/71319019631e2

[2018-07-24 18:47] P3trur0 commented on #124
So, I take this.

[2018-07-25 07:30] mcicolella commented on #124
@P3trur0 great work!

[2018-07-25 07:30] #124 closed

[2018-07-25 09:22] mcicolella opened #129 "Slider not showed properly inside ThingsEditor"
The slider component used for RangedIntBehavior is showed properly in the expanded list of a thing
![slider-ok](https://user-images.githubusercontent.com/4079634/43192109-f15c379a-8ffc-11e8-8346-73b368dbfde1.png)

but not inside the ThingsEditor (tab Control Panel)
![slider-ko](https://user-images.githubusercontent.com/4079634/43192132-05a06546-8ffd-11e8-8aaf-3265717f5a1f.png)

[2018-07-25 14:12] mcicolella opened #130 "Add "prev"/"next" buttons to Environments component"
See [here](https://github.com/freedomotic/fd-polymer-environments/blob/3098f769ee05829a07810c48a873f65f93dae65e/fd-polymer-environments.html#L64) (old Polymer client)

![env-slider](https://user-images.githubusercontent.com/4079634/43206168-5b21ed28-9025-11e8-8fa8-7bbfd633e83a.png)

You can move from an environment to another one.

[2018-07-25 14:52] P3trur0 commented on #130
Basically, the scope of this issue is to add a carousel like behavior. You could start from `EnvironmentsPanel.vue` component and add a carousel  there.

This [vue-carousel](https://ssense.github.io/vue-carousel/) seems a good candidate.

[2018-07-26 09:03] mcicolella commented on #130
It seems good. I have just made a test but it shows no environment.
Maybe I'm missing something.
https://github.com/mcicolella/fd-vue-webapp/tree/carosel

[2018-07-26 09:44] mcicolella commented on #89
#129

[2018-07-26 11:02] P3trur0 commented on #56
Indeed, what suggested [here](https://forum.vuejs.org/t/bad-color-rendering-in-production/26857/5) is not a problem since Chrome does already support CSS properties.

Instead, this issue is fixed by properly overriding some CSS classes originally themed with a white background.

#132 should do the work.

[2018-07-29 10:19] amenak77 commented on #126
![test_newclient3](https://user-images.githubusercontent.com/13914556/43365151-8438ab24-9328-11e8-80cc-833ead694d70.jpg)
We should also add field "description" and maybe "protocol" between fields "name" and "object type" in webapp "things" label to improve GUI's user friendlyness in order to have thing's: name -> description -> protocol -> type of thing

[2018-07-29 10:44] amenak77 opened #135 "unable to access webapp client from mobile"
![test_newclient4](https://user-images.githubusercontent.com/13914556/43365301-0142b360-932b-11e8-9a39-cecdf14c0409.jpg)

After compiling webapp client's project and replacing default polymer client with it into webserver plugin, webapp is correctly found at [server IP address]:8090 address; if you try to access from a pc or notebook within the LAN there is no problem. If you try from a smartphone

[2018-08-01 15:27] mcicolella commented on #130
c799232d6d733c782a4c57c3b036704b6c278103 introduced a carousel like behavior based on the old Polymer client.
The two buttons are not showed at first loading and after a page refresh.
They appear after logging out and logging in again.

![environment-carousel](https://user-images.githubusercontent.com/4079634/43531435-0b61efa0-95b0-11e8-9d54-f31498cf491a.png)

[2018-08-01 15:33] mcicolella commented on #126
I think this type of label should be too long to reproduce on the panel.

[2018-08-01 15:39] mcicolella opened #138 "Retrieve environment background image from API"
Now the background image is set statically.
It should be retrieved via API (passing "environment.backgroundImage" property to [getResource](https://github.com/freedomotic/fd-vue-webapp/blob/00ed18d5573acab8b4ef54c51843ce6c557f996b/src/components/Environment.vue#L128) method)
**This requires to fix #113**

[2018-08-01 15:58] mcicolella opened #139 "Environment canvas not centered correctly"
00ed18d5573acab8b4ef54c51843ce6c557f996b introduced scaling for environments. The canvas dimensions are now set to the environment width and height and no more set to static values.
So it's important to scale in order to consider the screen resolution.
There are a couple of issues to fix:
- the canvas is not vertically centered
- it should expand the entire page

Current layout (there are some pla

[2018-08-02 07:04] amenak77 opened #140 "Unable to edit password field in login form using FireFox"
If you try to edit password field within login form in order to have vue client using FireFox, you can't do it; the only way to edit proper field is setting password clear mode. No such a problem with Chrome

[2018-08-02 07:34] mcicolella commented on #140
Which version of Firefox?

[2018-08-02 07:37] mcicolella commented on #135
Is the pc or the notebook the same which FD is running on when it works?

[2018-08-02 07:41] mcicolella commented on #86
01f3d51299ba3a5be3bcda8be5340b5597d2ada5 introduced things inside the environment.

[2018-08-02 07:45] mcicolella commented on #70
dd2bac8cc6372e714ddbf7446e875d81b5732c9c introduced this component.

[2018-08-02 07:46] mcicolella commented on #69
dd2bac8cc6372e714ddbf7446e875d81b5732c9c introduced this component.

[2018-08-02 07:53] mcicolella opened #141 "Enable drag&drop for things"
The things are represented by their icon on the map.
We need to enable drag&drop to move them inside the [environment](https://github.com/freedomotic/fd-vue-webapp/blob/0294f865a9623e958ed2e48b71952fb1b2939a94/src/components/Environment.vue#L14).
There is already a flag "moveEnabled" to switch on/off this mode (we should add it to the menu).
Some methods as [dragStartHandler](https://github.com/fr

[2018-08-02 08:13] mcicolella opened #142 "Environment should show only its things"
Every environment should show only its things.

[2018-08-02 09:26] mcicolella opened #144 "Enable right click on a Thing inside the Environment"
When you right click on a thing on the floor map it should open a modal with ThingsEditor to manage it.
See [this example](https://github.com/freedomotic/fd-vue-webapp/blob/5722db290cbf57ab5b9754a66cee1e47963c6852/src/components/Thing.vue#L57).

[2018-08-02 09:41] mcicolella opened #145 "Add a menu to Environment component"
This menu is useful in order to:
- add a new environment
- delete the current environment
- copy the current environment
- enable/disable things moving
....

[2018-08-02 09:42] mcicolella commented on #126
#145 #144 #142

[2018-08-02 13:52] amenak77 commented on #140
ver 57.0 64 bit

[2018-08-02 13:55] amenak77 commented on #140
No problem with Edge, too!

[2018-08-02 13:58] mcicolella commented on #140
I'm using Firefox Quantum 61.0.1 64 bit and no problem with the login form.
I have only the issue #113

[2018-08-02 14:01] amenak77 opened #146 "client webapp menu "things" (lights) doesn't work with Edge"
If you try to switch on/off a light from menu Things with Edge, it doesn't work (no such a problem with Chrome and FireFox)

[2018-08-02 14:03] mcicolella opened #147 "Replace things icons placeholders"
Now we are using a placeholder icon (green button) to show the position of every thing on the map.
We should replace it with the correct icon (property thing.representation[thing.currentRepresentation].icon inside the thing JSON).

**This requires to fix #113 before.**

[2018-08-02 14:09] mcicolella commented on #146
Mobile or desktop version?

[2018-08-02 14:10] mcicolella commented on #146
Please check any console error with Dev Tools (F12)

[2018-08-02 14:15] mcicolella opened #148 "Show thing details on mouse over its icon"
We'd show thing details when the mouse is over its icon.

[2018-08-02 14:30] amenak77 commented on #146
Mobile doesn't work (chrome); I'll check later on edge, and will use dev tools

[2018-08-02 14:31] amenak77 commented on #140
I'll try to update my firefox ver

[2018-08-02 22:56] amenak77 commented on #146
Downloaded firefox app for android; server address = IP address, server port = 9111; user id = admin, password = admin --> BAD LOGIN

[2018-08-02 23:13] amenak77 commented on #146
excuse me all,
I've recreated the client test with Edge, and this time it works (and brightness bar moves a little when you switch light on

[2018-08-03 06:39] amenak77 commented on #140
Updated FireFox ver to 61.0.1 and login issue form is no more. Using webapp client (lights) light behavior is correctly followed by brightness behavior

[2018-08-03 06:47] amenak77 commented on #135
Yes, when it works, it is the same notebook and the call is made through localhost; I haven't tried access to freedomotic via webapp from another LAN pc; I'll try ASAP; however, I downloaded firefox mobile app and used it to access freedomotic and I have same bad login message

[2018-08-03 13:06] amenak77 commented on #135
Hi all,
I tried to access freedomotic from another LAN computer thriught webapp client; first step is OK: you digit in browswer (chrome) navbar 192.168.1.58:8090 and apperas vue login; then if you enter Fd notebook ip address into server address field, 9111 in server address field plus ususal admin/admin you have THE SAME BAD LOGIN INFORMATION warning; so I think we can change the issue in "unable

[2018-08-03 15:07] amenak77 commented on #135
Ever and ever strange; if you access freedomotic from the same LAN device, access is granted whatever charachter you digit into the first thwo form fields (server address and server port) if you correcly insert admin/admin; otherwise access is denied. The last issue definition should be "errors with auth LAN token ring" I suppose

[2018-08-03 15:24] mcicolella commented on #135
The problem is [here](https://github.com/freedomotic/fd-vue-webapp/blob/e702ab67775e90ba5e3cd10232bda0b36555e2a9/src/utils/fd-axios.js#L11).
RestAPI url is set statically.

[2018-08-03 17:17] amenak77 commented on #135
Excuse me, but I don't understand; why is this a problem?

[2018-08-03 17:59] amenak77 commented on #147
On the other side, we could avoid at all to retrieve a background image and point to an essential synoptical image made by lines that define areas (zones, rooms). It would be simpler fill this areas with objects ad create more defined triggers about events like enter/exit areas

[2018-08-03 18:08] amenak77 commented on #147
If would have a more modern look and feel, probably

[2018-08-04 00:38] amenak77 opened #149 "webapp client things menu brightness slidebar behavior is variable"
If you click on client on/off light button placed on menu things of a not dimmer light, brightness slidebar associated with it, shows strange behavior; in most cases doesn't align to on/off, sometimes does it, and sometimes only a little part of the bar moves when light is on. These oddities take place on every kind of browser

[2018-08-04 00:42] amenak77 commented on #147
PD I see no green icon on the client's map

[2018-08-04 07:39] mcicolella commented on #147
#113 is important to retrieve any image from FD: in Firefox you can't see plugins or things icons inside the respective panels as well.

[2018-08-04 07:41] mcicolella commented on #147
No green icons on Win 10? Which browser?

[2018-08-04 07:42] mcicolella commented on #146
Can we close this?

[2018-08-04 07:52] mcicolella commented on #135
Because it points always to 'localhost'. If the client is on the same machine running FD all is OK.
When you connect from another device (a smartphone for example) the app searches RestAPI on the 'localhost' that isn't the PC where the plugin is running but the client itself. So it doesn't find the API.
Hope it's clear.

[2018-08-04 08:01] amenak77 commented on #146
You read my mind. Don't know what happened; maybe this is due to edge's multiple nature. Never happened since then. One detail only: at the time, every light card was darkgrey with dropdown menu opened. We can close it

[2018-08-04 08:10] amenak77 commented on #135
Perfectly clear, thank you; so we can get rid of this annoying bug soon ;)

[2018-08-04 08:29] mcicolella commented on #147
The same with the online demo?

[2018-08-04 08:42] amenak77 commented on #147
Yes, same behavior

[2018-08-04 08:50] mcicolella commented on #147
Strange, you should see a red canvas on the online demo as in the following screenshot

![schermata del 2018-08-04 10-47-46](https://user-images.githubusercontent.com/4079634/43674411-044a9660-97d4-11e8-88d9-20854e5b7c65.png)

Please clear your browser history and retry.
Have you updated the GitHub code for the local app?

[2018-08-04 09:01] amenak77 commented on #147
Ok I'll try ASAP and will let you know

[2018-08-04 10:17] amenak77 commented on #147
Ok: updated GitHub desktop app, deleted browser's chronology, run webapp project dev server based on online demo, same result, unfortunately; suggestions? @P3trur0 do you work on pcs win free too?

[2018-08-04 10:28] amenak77 commented on #147
The address is in the navbar of the image you sent a few time ago. No problem thanks again

[2018-08-04 10:38] amenak77 commented on #147
![firefox_onlinedemo_client](https://user-images.githubusercontent.com/13914556/43675616-4789f92a-97e3-11e8-9685-66a9e7d35199.jpg)

Got it! Firefox and online demo

[2018-08-04 10:42] amenak77 commented on #147
![edge_onlinedemo_client](https://user-images.githubusercontent.com/13914556/43675647-e3eb81da-97e3-11e8-8fcf-8416b315d40d.jpg)

Edge

[2018-08-04 10:52] amenak77 commented on #147
![chrome_onlinedemo_client](https://user-images.githubusercontent.com/13914556/43675729-0ece0200-97e5-11e8-9b2c-e6efd42ac352.jpg)

 Chrome. Is it normal compiled and served version's behavior?

[2018-08-04 11:08] amenak77 commented on #147
@all,
Does your served client al 8080 behave well with linux OS?

[2018-08-04 11:09] amenak77 commented on #147
Otherwise we have another issue to add

[2018-08-04 13:13] mcicolella commented on #147
What do you mean?

[2018-08-04 13:27] amenak77 commented on #147
I mean that the problem could be in my cloned vue-webapp repo; this could explain why the bug shows itself either with served project at 8080 or compiled one at 8090; I suspect so because you posted an image  in the issue "environment canvas not centered correcly" of client webapp running local at 8080 with the red canvas and grren buttons. Otherwise we ought to update issue list adding another on

[2018-08-04 13:38] amenak77 commented on #147
In fact I made a git reset and pull, run dev server and client shows correctly at 8080 with chrome, edge and firefox. Problem solved. Something refused to update before. Now I compile the project again and sobstitute it into webserver plugin; then I'll let you know

[2018-08-04 14:03] amenak77 commented on #147
After compiling and substituting dist folder into webserver/data folder running client at 8090 I register strange diffrent behaviors with eagh browser: chrome old image (without red canvas and green buttons) and client menu things working; edge shows image with red canvas but wrong number of placeholder icons (9) and client menu things working; however, I have much more objects; firefox is stuck o

[2018-08-04 14:07] amenak77 commented on #147
If someone has a little time in spare, we coluld try a similar test with linux (compiling project); if such a test is successful, the problem is ever in my cloned repo, otherwise, we have another issue to add to the list

[2018-08-04 14:16] mcicolella commented on #147
First of all I'm working on Linux.
1. Have you clear your browser history before running the new version?
2. Edge: check if the Thing panel reports the correct number of items. Please consider that the floor map is in a very early stage and infact we have some issues to fix
3. Firefox: check any error in the console

[2018-08-04 14:16] amenak77 commented on #147
![firefox_onlinedemo_client_new1](https://user-images.githubusercontent.com/13914556/43677389-7d7ddae2-9801-11e8-9944-381296257f5d.jpg)

Firefox unstuck after running developer's tools and menu things is working but always 9 icon as placeholder in synoptic

[2018-08-04 14:32] amenak77 commented on #147
Cleared chronology: edge is Ok with menu things working, Chrome is Ok, Firefox is Ok. Problem fixed

[2018-08-04 16:54] mcicolella commented on #135
Just updated the app. The issue should be fixed.
I removed server ip and port number because the first is automatically detected from the URL and the last is set statically on the RestAPI. Less parameters for users :)
Please check.
N.D. remember to delete the browser history

[2018-08-04 17:00] amenak77 commented on #135
Great! I'll check ASAP and obviously I'll let you know ;)

[2018-08-04 19:35] amenak77 commented on #135
First of all, just to make my point clear: fantastic work! Great Mauro and great Ubaldo. All works very well; the webapp has a great level and personally, command my home lights without install or configure anything. Autodiscovery at its maximum extent; even ip address and restapi port don't reqire any configuration. UI is set automatically depending on type of device you have. Fantastic

[2018-08-05 08:31] amenak77 commented on #149
![brightness_colo_iss](https://user-images.githubusercontent.com/13914556/43684072-81079688-9899-11e8-9c47-d02a13309306.jpg)

this is what happens when I try to swtch a light on (number 12) with webapp and Chrome; as you can see, this time brightness bar is "lazy" and doesn't move; in console it seems to be present an header error (the "access-control-allow-origin" header is http://localhost:8080

[2018-08-05 08:38] amenak77 commented on #148
![v-tooltip](https://user-images.githubusercontent.com/13914556/43684179-aa10609e-989b-11e8-9de1-4d5e3e9b1f39.png)

https://github.com/Akryum/v-tooltip   Take a look here

[2018-08-05 09:27] amenak77 commented on #9
I found interesting this https://medium.com/@codebyjeff/using-laravel-translation-strings-in-vue-js-e2e35b7aafca. It is a general pourpose way not using i18n but php/javascript server side and vue or whatever you want as frontend

[2018-08-05 15:10] mcicolella commented on #148
It seems a good solution.

[2018-08-05 15:11] #146 closed

[2018-08-05 15:17] mcicolella opened #150 "ThingsEditor: add placeholder to input fields"

[2018-08-05 15:22] mcicolella opened #151 "When deleting a thing modal shows 'null' instead of thing name"
When deleting a thing the modal, asking a confirmation for this operation, shows 'null' instead of thing name.

[2018-08-05 15:27] mcicolella commented on #9
[This ](https://www.davideguida.com/how-to-detect-current-culture-in-javascript/) seems a good tip.

[2018-08-05 15:28] mcicolella commented on #149
I can't reproduce this issue.

[2018-08-05 16:09] amenak77 commented on #149
Did you have complie the webapp project and modify the webserver plugin? Because if you haven't done so, you can't have address conflict. Please excuse me for the odd consideration: only the compiled ver is served at 8090

[2018-08-05 16:13] amenak77 commented on #9
Yes, it is an interesting POW and explains many things

[2018-08-05 17:57] amenak77 commented on #149
Don't you have any problem with brightness slidebar?

[2018-08-06 14:12] #150 closed

[2018-08-06 14:15] mcicolella commented on #149
Of course I have compiled the project but I don't have your address conflict.
Otherwise the slidebar doesn't work well with Firefox. Chrome is OK.

[2018-08-06 14:18] mcicolella commented on #144
Fixed in 42d74ecfbc71846c0ed9db387751707cedc61cd5

[2018-08-06 14:18] #144 closed

[2018-08-06 14:59] #151 closed

[2018-08-07 05:35] amenak77 commented on #149
Maybe we haven't centered the relationship between cause and effect about the problem yet. This could explain its non constant nature. Try to run your test again with projec's dev server running underground

[2018-08-07 05:53] amenak77 commented on #113
Let me know: does #113 is fixed with chrome but not with firefox?

[2018-08-07 12:27] amenak77 commented on #149
![desktop_colo_iss](https://user-images.githubusercontent.com/13914556/43775529-6024fbbc-9a4d-11e8-8ee3-a89ea758ea7f.jpg)

I confirm that, using crome at 8090 with feedomotic webserver plugin, I have header conflict which doesn't show with project served at 8080; in this case the problem is no synoptic shown

[2018-08-07 12:30] amenak77 commented on #149
So the issue should change in "problems caused by address conflict in client's compled version"

[2018-08-07 14:03] mcicolella commented on #149
As I said previously I don't have this problem with Chrome and Webserver plugin

![schermata del 2018-08-07 16-02-01](https://user-images.githubusercontent.com/4079634/43780657-5dada7c2-9a5b-11e8-9ad2-0eeb7a4c5ebc.png)

[2018-08-07 14:41] amenak77 commented on #149
which Chrome ver do you have?

[2018-08-07 14:50] amenak77 commented on #149
What if I'd modify manifest file address of webserver plugin to 8080 temporarily? No dev server running, obviously. If the bug vanishes I have an address problem in compiled file

[2018-08-07 15:16] mcicolella commented on #149
59.0.3071.109 (Build ufficiale) (a 64 bit)

[2018-08-07 22:06] amenak77 commented on #149
I have Ver 68.0.3440.84 (Build ufficiale) (a 64 bit); please update your Chrome browser ver and try again

[2018-08-07 22:26] amenak77 commented on #149
![chrome-client-8080](https://user-images.githubusercontent.com/13914556/43805816-87747ef0-9aa1-11e8-8f36-b7550e9cde8a.jpg)

This is the proof: localhost:8080

[2018-08-08 06:47] amenak77 opened #152 "header error retrieving thing in client's compiled ver due to address mismatch"
The problem rises only in compiled version which address to 8090; the "access-control-allow-origin" header is http://localhost:8080 and not http://localhost:8090 and error rised only using last Chrome ver. This problem causes client's loss of various things caused by denied resource access due to address mismatch. The bug vanishes if you modify access address of freedomotic plugin webserver manife

[2018-08-09 10:05] mcicolella commented on #149
No address conflict with the last Chrome version and compiled version served on port 8090

![schermata del 2018-08-09 12-02-07](https://user-images.githubusercontent.com/4079634/43892496-62f10acc-9bcc-11e8-9a3d-94d8b8032930.png)

![schermata del 2018-08-09 12-02-20](https://user-images.githubusercontent.com/4079634/43892519-741aea3e-9bcc-11e8-9094-cc46ac04a02c.png)

[2018-08-09 11:15] amenak77 commented on #149
It'strange; is it possible that the problem lays in my repo only? I'll try to update and recomplie. A win problem maybe

[2018-08-10 05:30] amenak77 commented on #152
Hi,
I've made a synch of my repo and recompiled the project and the bug seems vanished. I don't know what is going on

[2018-08-10 05:37] amenak77 commented on #149
![noprob_iss](https://user-images.githubusercontent.com/13914556/43940469-0c144666-9c70-11e8-89b9-bef212ea3b3e.jpg)

project updated and recompiled: issue is no more. Boh! Excuse me for time loss

[2018-08-10 06:02] amenak77 commented on #113
![restapi_err_firefox](https://user-images.githubusercontent.com/13914556/43941202-92ec2df4-9c73-11e8-9461-e74185afdcac.jpg)

cURL Restapi http request with firefox

[2018-08-10 06:26] #152 closed

[2018-08-10 06:26] #149 closed

[2018-08-11 03:52] amenak77 opened #153 "client should show univocal Freedomotic's instance UUID in p2p"
When multiple Freedomotic's instances are running on the same pc in p2p mode, the client should allow to see what instance is connected showing its univocal UUID and to choose others

[2018-08-11 07:51] mcicolella opened #154 "Things panel not updated when creating a new thing"
When a new thing is created the Things panel is not updated automatically.

Cause: RestAPI doesn't send a message on the websocket about this type of events.

[2018-08-11 08:00] amenak77 opened #155 "Client should have a "hedless mode" for Freedomotic headless"
As the idea to have a single page application for freedomotic hedless mode seems to be not so smart, we should have a client headless mode. No synoptic, no many other things without having tons of error messages. To be honest in my opinion there should be something freedomotic side too (in headless mode)

[2018-08-11 08:38] mcicolella commented on #155
I don't get it. Please can you explain better?

[2018-08-11 08:48] mcicolella opened #156 "Add/update a translation for your language"
We are looking for contributors for new languages or existing translations.

**Solution 1 (recommanded in particular for a new language)**

1. Join our team on Transifex (https://www.transifex.com/freedomotic/freedomotic-open-source-buildi/)
2. Go to https://www.transifex.com/freedomotic/freedomotic-open-source-buildi/vueclient/
3. Complete the translation
4. Download the file .properties and subm

[2018-08-11 09:29] amenak77 commented on #155
I men that the client is quite smart and detects differences between mobile mode and browser mode; but freedomotic headless is a singularity about browser mode. There is no jfrontend and I don' know  if it is to be considered just like another client of freedomotic core, or contains some fundamental info. In this case we could have errors if the situation isn't managed properly.

[2018-08-11 09:34] amenak77 commented on #155
The other question is freedomotic side about headless; as you know, if the framework doesn't run from CLI, in headless mode the user could not have any signal that freedomotic is running in background. This could be a problem

[2018-08-11 10:45] amenak77 commented on #154
Freedomotic issue #432?

[2018-08-13 08:17] mcicolella commented on #154
This doesn't work if you create a new thing from a different client instance (e.g. Jfrontend or a mobile). No sync without using the websocket.

[2018-08-13 16:19] amenak77 commented on #93
Should this issue be closed?

[2018-08-14 07:31] mcicolella commented on #93
Not yet. There are some references to this.

[2018-08-18 10:12] amenak77 opened #157 "Add a splash screen"
When you run an app, there is, usually a splash screen in first place; the splash screen is very standard: in 90% of cases there is a logo and a coloured background that unload itself after some seconds. Otherwise we have also an updated ver. Number. Personally I vote for white logo with green background

[2018-08-18 14:41] amenak77 commented on #157
There is a world of reasons about why a well done splash screen creates brand's strenght (first impression lasts above all); here there are some tips

https://medium.com/@daffodilsw/5-tips-to-design-splash-screen-for-mobile-apps-with-examples-a778b8595454

[2018-08-19 06:36] amenak77 commented on #54
Maybe with firefox you can enable/disable tolltiptext at will.  https://www.ghacks.net

[2018-08-19 10:58] amenak77 commented on #9
This boilerplate for vue applications uses i18n for traslations

https://vue-starter.herokuapp.com

[2018-08-22 06:01] amenak77 commented on #155
![ok_headless](https://user-images.githubusercontent.com/13914556/44445336-d6373600-a5e0-11e8-8747-58ff314b2fb2.jpg)

I've made a test with an headless freedomotic instance and client on browser; no particular problem and I command my home lights in this way from things panel; it's the same using a smartphone and webapp clent. Maybe no headless mode is needed

[2018-08-22 06:07] amenak77 commented on #153
![crash_freed_headless](https://user-images.githubusercontent.com/13914556/44445642-003d2800-a5e2-11e8-9860-502da3dd0a75.jpg)

Testing webapp client with two freedomotic instances in p2p we have a catstrophic crash of one of them, the headless one, in this case

[2018-08-22 06:12] amenak77 commented on #153
Same RESTapi address of two freedomotic instances running and same pc address; ideas?

[2018-08-23 06:46] amenak77 commented on #157
Maybe this could end the game

https://github.com/andygup/splash-screen-js?files=1

[2018-08-23 21:31] amenak77 commented on #153
Maybe there should ba a form after login form (and perhaps splash sceen) with the list of freedomotic instances running; when you choose une of them, one of the connection paramerers should be univocal instance's UUID

[2018-08-24 08:56] amenak77 commented on #139
Here is a tip:
HTML
<img src="images/bg.jpg" id="bg" alt="">
CSS
#bg {
  position: fixed;
  top: 0;
  left: 0;

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

[2018-08-25 17:42] amenak77 opened #158 "No client Vue plugin images with FireFox"
![firefox_prob](https://user-images.githubusercontent.com/13914556/44620959-1545df80-a89e-11e8-864d-de14079740da.jpg)

A little comparison between Chrome and FireFox about plugin panel with online client demo; no plugin images with FireFox (OS win 7 64 bit). May we consider this OS obsolete and ignore the issue?

[2018-08-25 22:40] amenak77 commented on #158
#113 No issue with Opera browser

[2018-08-26 19:27] amenak77 commented on #158
Why does only FireFox rise a CORS exception? It's very strange...

[2018-08-27 09:10] P3trur0 commented on #158
Why don't we consider to setup a Snapshot testing mechanism to verify if the GUI layout is properly working on specific browser?

[2018-08-27 14:36] amenak77 commented on #158
What do you mean?

[2018-08-27 21:03] amenak77 commented on #158
@p3trur0 please take a look to freedomotic issue #280 if my POW makes sense

[2018-08-28 10:04] P3trur0 commented on #158
@amenak77 I mean that these kind of tests could be performed automatically through a CI build.
We could setup a snapshot tests pipeline triggering build failures when the actual layout is not the one expected. See [here](https://jestjs.io/docs/en/snapshot-testing.html), for example.

[2018-08-28 10:07] P3trur0 commented on #158
@amenak77 indeed my proposal is about graphical layout issues, not about backend.

[2018-08-28 11:19] amenak77 commented on #158
@P3trur0 OK, now it's clear; it seems a very interesting approach. Are you familiar with this kind of test?

[2018-08-29 20:42] amenak77 opened #159 "Client connection to Freedomotic should be secure"
Actual client HTTP connection should be changed into HTTPS (Hyper Text Transfer Protocol Secure)

[2018-08-30 07:11] P3trur0 commented on #158
@amenak77 yes, I did few trials with **Jest**.

[2018-08-30 10:47] amenak77 commented on #158
@p3trur0 Good! Could you have a little time to create a model? It would be very useful to fight against the multi browser compatibility issue (at last!)

[2018-08-30 10:52] amenak77 commented on #158
I'm sorry, this issue is very similat to #113 opened by Mauro, but the real problem is: why firefox only does arise a CORS exception?

[2018-08-30 11:00] amenak77 commented on #158
It seems that there is a firefox addon to enable the user to use CORS everywhere by altering http responses

https://addons.mozilla.org/en-US/firefox/addon/cors-everywhere/?src=recommended

[2018-09-01 16:33] amenak77 commented on #158
![firefox_err_nocors](https://user-images.githubusercontent.com/13914556/44947946-1bdfd400-ae15-11e8-8b2c-52442f4ed78f.jpg)

I've installed firefox addon and no more CORS errors, but no plugin images, again. In console, there is one million error messages

[2018-09-06 07:51] amenak77 commented on #159
![bad_login_info](https://user-images.githubusercontent.com/13914556/45142939-20f8a680-b1ba-11e8-9419-9e089e5fc5e3.jpg)

After updating my vue webapp repo, now I have this connecting problem "ERROR Bad login information"

[2018-09-06 08:00] amenak77 commented on #159
![conn_refused](https://user-images.githubusercontent.com/13914556/45143104-8e0c3c00-b1ba-11e8-985a-2f952b16aff1.jpg)

The error rises using every kind of browser (even from mobile); in console I have a warning "Failed to load resource: net : : ERR_CONNECTION_REFUSED" which is a typical block warn between client and server; so I checked antivirus, firewall, scan for viruses: nothin different.
Mayb

[2018-09-06 08:07] amenak77 commented on #159
This review says that after last win 10 update, chrome's warnings about insecure HTTP connections  become block about sensible data (in this case password content) in order to avoid sensible data theft. Linux seems immune to this "problem". Suggestions?  PD If so, fixing issue #159, could be urgent

[2018-09-07 13:31] amenak77 commented on #159
![multibr_noconn](https://user-images.githubusercontent.com/13914556/45221753-b70ff800-b2b2-11e8-947d-87e5aff0ea93.jpg)

I've compliled client's project and updated dist file into webserver plugin. I have connection error via localhost:8090 with every browser except chrome; ever and ever strange....

[2018-09-07 13:37] amenak77 commented on #159
To be completely honest, client works with chrome, but no tooltips; some remaining data into cache, maybe? Could anyone try to reproduce this error with win 10 please? Thanks. PD actual dailybuild is number 275; could it be a problem in your opinion? Thanks again

[2018-09-08 08:38] amenak77 commented on #159
After toggling AV settings, this last problem vanished; but I already have bad login with compiled client project; I really hate auto settings

[2018-09-11 22:37] amenak77 commented on #159
Thanks to virus defender and his magic self changing parameters I've lost days to fix something already fixed until last week. Now no more bad login error with compiled client project. Sorry for this. It is not a HTTP/HTTPS problem

[2018-09-12 06:45] #159 closed

[2018-09-15 17:53] amenak77 opened #160 "Client doesn't alert the user when Freedomotic is off"
If the client(s) is(are) running, and Freedomotic is somehow down, it doesn't notify it to the user and goes on without a server. The user couldn't be aware of this fact.

[2018-09-19 13:55] mcicolella commented on #148
Fixed in b2ef9fc201658f2d453117b47ab851b4caa93c3f

[2018-09-19 13:55] #148 closed

[2018-09-23 14:27] #39 closed

[2018-09-23 14:38] #70 closed

[2018-09-23 14:40] #69 closed

[2018-09-23 14:43] #46 closed

[2018-09-25 15:14] #65 closed

[2018-09-25 15:18] #40 closed

[2018-09-28 08:38] mcicolella commented on #68
First draft [here](https://github.com/freedomotic/fd-vue-webapp/blob/master/src/components/AutomationsPanel.vue).

[2018-09-28 08:38] #68 closed

[2018-09-30 17:27] P3trur0 commented on #160
@amenak77 what's the proposed behavior here? Is there any probe available to check if freedomotic server is up and running? If so, we could check it periodically.

[2018-10-01 06:54] honsq90 commented on #119
hello! I'm happy to help out on this.

I've checked out the code so far and it seems like it's using Karma + Nightwatch/Selenium, and there's not that many tests at the moment. While the test suite is still small, this might be a good time to move over to Jest + TestCafe, which I'm more than happy to spend my time on.

How's that sound?

[2018-10-01 07:42] P3trur0 commented on #119
Hi @honsq90 it sounds definitely good. Indeed I'd like to give a try to Jest, also because it would be useful to introduce some snapshot tests also.

[2018-10-01 07:44] P3trur0 commented on #160
What do you think to set up a websocket communicating with freedomotic server then?

[2018-10-01 09:05] ACIDKing commented on #156
I can add Russian language

[2018-10-01 09:33] ACIDKing commented on #156
@P3trur0
 "add_new_thing" means "Add new entity/object"? This is right context?

[2018-10-01 09:43] P3trur0 commented on #156
@ACIDKing yes, it's fine for me.
@mcicolella do you agree?

[2018-10-01 11:35] amenak77 commented on #160
It would be a great solution; your mind is much less convoluted then mine :)

[2018-10-01 13:21] mcicolella commented on #156
@P3trur0 yes, it's OK

[2018-10-01 15:05] mcicolella opened #163 "Add a background to v-tooltip related to things"
When you move the mouse over a thing on the floorplan a tooltip shows some related data.
We need to add a background to it (now it's transparent) to make the data more readable.

![schermata del 2018-10-01 17-00-43](https://user-images.githubusercontent.com/4079634/46297050-0e487600-c59c-11e8-9a0f-b0f12a01dd52.png)

Rif. [Environment component](https://github.com/freedomotic/fd-vue-webapp/blob/578

[2018-10-01 15:07] P3trur0 commented on #163
@mcicolella I can work on this.

[2018-10-01 15:17] mcicolella commented on #56
@P3trur0 9f7eb0f04047e7e1fe4971eff54eb13bf012a691 didn't fix this. See images above.

[2018-10-01 15:42] mcicolella opened #164 "Add new thing button covers expansion control"
Add new thing button (right bottom position) covers expansions control.

![schermata del 2018-10-01 17-36-57](https://user-images.githubusercontent.com/4079634/46299249-35ee0d00-c5a1-11e8-8482-98d946a3bfda.png)

[2018-10-01 15:54] TooFiveFive commented on #164
So you want someone to move the button is it?

[2018-10-01 16:03] TooFiveFive commented on #164
Assign it to me please.

[2018-10-01 17:15] amenak77 commented on #160
Nevertheless it could be useful to have either server status or connection status monitoring two events: server on/off and connection to server on/off and so two gui client elements

[2018-10-01 17:32] P3trur0 commented on #163
ok then,

[2018-10-01 21:51] xp0 commented on #156
added Romanian language

[2018-10-02 00:51] rafmjr commented on #157
I can start addressing this issue, if we're still interested in this featured, I can get hands-on!

[2018-10-02 06:15] atgg commented on #156
Sorry, should have commented here first. 😀 Anyway, I have added a translation to Slovak language (#168).

[2018-10-02 06:47] mcicolella commented on #156
@ACIDKing @atgg @xp0  thanks!

[2018-10-02 07:50] Remeic commented on #9
Hello, the problem is understand the language automatically and set language for vue-i18n right?

[2018-10-02 08:03] mcicolella commented on #9
@Remeic exacly

[2018-10-02 08:06] Remeic commented on #9
@mcicolella I want to try to solve the issue, if no one else has taken charge of it before

[2018-10-02 08:11] mcicolella commented on #9
@Remeic Ok, thanks.

[2018-10-02 16:02] Mclovinn commented on #156
I can add spanish language

[2018-10-02 20:12] P3trur0 opened #174 "Some v-for instances contain eslint warning"
Using a ESlint plugin for Vue syntax I spotted few warning like this in some occurrences of `v-for` loops:

we could fix this warning.

[2018-10-03 06:35] #163 closed

[2018-10-03 07:52] P3trur0 commented on #174
Solved by #175.

[2018-10-03 07:52] #174 closed

[2018-10-03 08:19] mcicolella opened #176 "Align tooltip text to left"
We need to align all tooltip text to left. Now some rows have some blank spaces at beginning.

![schermata del 2018-10-03 10-16-21](https://user-images.githubusercontent.com/4079634/46398545-b02fa600-c6f5-11e8-9df5-33806ff1d001.png)

Rif. [Environment component](https://github.com/freedomotic/fd-vue-webapp/blob/2e4b80cd981d4c52fd656f80e5a5158aae8df6e3/src/components/Environment.vue#L10)

[2018-10-03 09:19] P3trur0 opened #177 "Service worker introduction"
As suggested by @rafmjr in #167 it would be useful to add a Service Worker to make the application a PWA.

[2018-10-03 14:46] mcicolella commented on #157
@rafmjr @P3trur0 I tested the web app with BrowserStack on many iOS emulators but I can't see the splash screen.
Am I missing something?

[2018-10-03 14:50] mcicolella commented on #177
We are using [vue-onsenui](https://www.npmjs.com/package/vue-onsenui) for mobile and it supports PWA as reported [here](https://onsen.io/v2/guide/pwa/intro.html).

[2018-10-03 15:35] P3trur0 commented on #176
The problem should be [here](https://github.com/freedomotic/fd-vue-webapp/blob/2e4b80cd981d4c52fd656f80e5a5158aae8df6e3/src/components/Environment.vue#L137).

[2018-10-03 15:41] mcicolella opened #179 "Refactor ThingEditor using Vue Material"
Now we use vue-nav-tabs for creating some tabs in [ThingsEditor](https://github.com/freedomotic/fd-vue-webapp/blob/master/src/components/ThingsEditor.vue) component.
I'd be better to refactor it using Vue Material to reduce the number of dependencies.

![fd-vue2](https://user-images.githubusercontent.com/4079634/46421898-79788080-c733-11e8-9ea9-921ac2420928.png)

[2018-10-03 15:42] P3trur0 commented on #157
@mcicolella AFAIK the splash screen should appear while the application resources are still downloading. Maybe the download is too fast to make the splash screen itself appearing :yum:

Did you try to clean up the cache of your emulator?

About Android I confirm that through Chrome dev-tools I was able to see the Splash Screen manifest as provided by @rafmjr's PR.

[2018-10-03 15:45] P3trur0 commented on #85
@mcicolella could you please elaborate a little about this? Maybe it's worth to give priority to this issue because of the Hacktoberfest period. :jack_o_lantern:

[2018-10-03 18:29] amenak77 commented on #157
I don't use mac OS but my family has a lot of mac devices which I can use for testing: three smartphones, one tablet and one mac mini. I'll let you know ASAP

[2018-10-04 07:19] amenak77 commented on #157
I've updated and recompiled client's project and with android mobile gui I have same Mauro's priblem with iOS emulation: no splash screen! In ypur opinion, shoud have a splash screen not-mobile interface too? Maybe we shoud add a timer variable for a countdown before unloading the screen

[2018-10-04 10:41] tranlehaiquan commented on #158
The problem both in chrome and firefox. Try to replace the images with real address it work (I think just problem went get with axios). I wonder why we need to fetch image with axios and parse it to data, instead of that do it with simple function:
[code]
[code]
![image](https://user-images.githubusercontent.com/17347993/46469048-74cbcf00-c7fc-11e8-9cf5-e9d385a0fef1.png)

[2018-10-04 14:59] mcicolella commented on #85
@P3trur0 description updated

[2018-10-04 20:04] landreussi commented on #158
I think icons is better than images in this case,for many reasons
would you thought about replace images to icons?

Personal suggestion: https://fontawesome.com/how-to-use/on-the-web/using-with/vuejs

[2018-10-05 06:58] #113 closed

[2018-10-05 07:09] mcicolella commented on #158
@tranlehaiquan thanks for your suggestion. It fixed the issue.

[2018-10-05 07:10] mcicolella commented on #158
@landreussi no we don't want to use icons. We share the images with plugins and other cilents (e.g. Jfrontend).

[2018-10-05 07:11] mcicolella commented on #158
Fixed in 5e00d72d3f5e4fabcfcd226eee5568bf64336c5d

[2018-10-05 07:11] #158 closed

[2018-10-06 15:40] amenak77 commented on #157
![scr_webap_ios](https://user-images.githubusercontent.com/13914556/46572919-0dde1f80-c98e-11e8-8e3f-f688e501ac3e.JPG)

@rafmjr Hi, excuse me for delay; I'm using IPhone 6+ and now I try on IPhone 5C; to be completely honest (and this doesn't lower the value of your contribution that's high and we all thanks you for this) I can't see either the splash sc. in Android mobile client or in IOS mobile.

[2018-10-06 16:19] mcicolella opened #181 "Add a better login form for mobile"
We'd like to have a better login form for mobile with our official [logo](https://github.com/freedomotic/fd-vue-webapp/blob/master/src/assets/freedomotic-logo.png).
This is the current layout
![schermata del 2018-10-06 18-12-58](https://user-images.githubusercontent.com/4079634/46573342-1a657680-c994-11e8-9354-04fdc8738171.png)

Any great idea to improve it?

Rif. [Login component](https://github.

[2018-10-06 16:36] mcicolella opened #182 "Replace logo with the new version"
We want to replace the old logo with the [new version](https://github.com/freedomotic/fd-vue-webapp/blob/master/src/assets/freedomotic-logo.png) and make some styling if needed.
Rif. [Login component](https://github.com/freedomotic/fd-vue-webapp/blob/master/src/components/Login.vue#L66)
[Mobile menu](https://github.com/freedomotic/fd-vue-webapp/blob/c095931425be92cb8daf5267719cb41b968152b7/src/com

[2018-10-06 16:51] mcicolella commented on #176
Fixed in 8b4c86d38c6120f530631d326353a0fc5e69d383

[2018-10-06 16:51] #176 closed

[2018-10-06 22:45] bestmazzo commented on #139
#183 Should fix it

[2018-10-06 23:59] rafmjr commented on #157
Hello everyone, I'm very sorry for all the issues testing the pull request I submitted during the week. After doing a little more of research on my own, I learnt that there has been problems with the splash screens on Apple devices since they do not fully support PWA. You can read more here:

- [Link 1](https://medium.com/@applification/progressive-web-app-splash-screens-80340b45d210)
- [Link 2](h

[2018-10-07 00:31] rafmjr commented on #177
I'm planning to do an implementation of these three:

[https://onsen.io/v2/guide/pwa/tutorial.html#service-worker](https://onsen.io/v2/guide/pwa/tutorial.html#service-worker)
[https://developers.google.com/web/fundamentals/primers/service-workers/](https://developers.google.com/web/fundamentals/primers/service-workers/)
[https://developers.google.com/web/fundamentals/app-install-banners/](https://

[2018-10-07 05:57] amenak77 commented on #157
@rafmjr dont't worry! Your contribution, in particular about PWA, is top level. Thank you very much.

[2018-10-07 08:49] amenak77 commented on #139
Great!

[2018-10-07 13:48] mcicolella opened #185 "Add vuex-i18n support to mobile menu labels"
We need to add vuex-18n support to mobile menu labels in [MobileAppTabbar](https://github.com/freedomotic/fd-vue-webapp/blob/8b4c86d38c6120f530631d326353a0fc5e69d383/src/components/mobile/MobileAppTabbar.vue#L30) component.

[2018-10-08 02:04] rafmjr commented on #177
I'm having troubles including with the webpack configuration. If I require the SW from src/main.js, the service worker is handled by webpack and its name is hashed. When registering the SW you need to specify the path of the file, but since this is generated, I can't provide the right path.

I tried including as static resource directly in index.html but then the file file is placed at /static/sw.

[2018-10-08 06:35] mcicolella commented on #139
Thanks @bestmazzo

[2018-10-08 06:35] #139 closed

[2018-10-08 08:30] #86 closed

[2018-10-08 15:46] mcicolella opened #186 "Refactoring of Environment component layout"
We need to refactor the layout of [Environment](https://github.com/freedomotic/fd-vue-webapp/blob/master/src/components/Environment.vue) component to include a menu and the environment name.

Starting from the current layout it should be composed by three parts

1. External container including every element
![container](https://user-images.githubusercontent.com/4079634/46619191-cdafa600-cb21-11e8-

[2018-10-09 13:18] #142 closed

[2018-10-10 09:23] mcicolella opened #187 "Slider doesn't execute changeBehavior() in mobile Thing component"
In [Thing](https://github.com/freedomotic/fd-vue-webapp/blob/f2e0601280026a46cc4072244f1130219d275035/src/components/mobile/mobile-pages/Thing.vue#L69) mobile component when you move the slider it should execute changeBehavior() passing its current value.

[This](https://github.com/freedomotic/fd-vue-webapp/blob/f2e0601280026a46cc4072244f1130219d275035/src/components/mobile/mobile-pages/Thing.vue#

[2018-10-11 14:37] #182 closed

[2018-10-11 14:37] #187 closed

[2018-10-12 13:46] mcicolella commented on #181
Fixed in 4f6b02a7dac04aa080cd282c9f0ed8f858b3434e

[2018-10-12 13:46] #181 closed

[2018-10-12 15:04] mcicolella commented on #186
@DenisG0 would you like to take a look at this?

[2018-10-12 15:10] mcicolella opened #191 "Fix Users panel layout"
We need to fix

- the space between the cards
- the icons at top left corner not showed correctly
- the bottom right button position partially covered by scrollbar

![schermata del 2018-10-12 17-05-48](https://user-images.githubusercontent.com/4079634/46877636-a0c10300-ce41-11e8-9b02-f908d153d4a6.png)

[2018-10-12 16:27] Sharma-Hrishabh commented on #191
i can help :)

[2018-10-13 03:30] DenisG0 commented on #186
Okay, i will give it try

[2018-10-14 17:34] mcicolella opened #192 "Hide button when scrolling in mobile component"
As you can see in the attached image, the button (bottom right corner) overlaps some elements.

![screenshot_2018-10-14-18-11-28](https://user-images.githubusercontent.com/4079634/46919999-f8996e80-cfe7-11e8-88c5-53f00240854a.png)

It'd better to hide it when scrolling down and show it again when scrolling up.

P.D. any other good alternative?
Code ref. https://github.com/freedomotic/fd-vue-webapp

[2018-10-15 08:10] amenak77 commented on #192
If oject's list lenght is lower then or equal to screen's lenght, the button could cover an element anyway and the list shouldn't be "scrollable". I guess we should think to something else

[2018-10-15 08:38] amenak77 commented on #192
@mcicolella maybe changing the button's position

[2018-10-15 08:40] amenak77 commented on #192
or commutate the button with another GUI element less "intusive"

[2018-10-15 08:44] amenak77 commented on #192
In my opinion, first choise should be more standard

[2018-10-15 10:09] romanofranz commented on #192
What about changing the floating button to a menu entry in the app bar menu?

[2018-10-15 20:03] amenak77 commented on #192
@romanofranz choise numer two; not bad
@mcicolella what do you think about this?

[2018-10-16 09:51] mcicolella commented on #186
@DenisG0 great great work! Thanks

[2018-10-16 09:51] mcicolella commented on #186
Fixed in b0737000953c18721190edae907b5fd5a218646e

[2018-10-16 09:51] #186 closed

[2018-10-16 09:56] mcicolella commented on #141
@DenisG0 would you like to take a look at this?

[2018-10-18 13:05] amenak77 commented on #192
@romanofranz do you want to take this issue?

[2018-10-18 13:07] amenak77 commented on #177
@rafmjr any news about the service worker?

[2018-10-18 13:10] romanofranz commented on #192
@amenak77 Unfortunately I'm not a Vue developer, I was just suggesting my idea because I spot the question on Twitter :(

[2018-10-21 16:57] jtommy commented on #138
@mcicolella There is no 'environment.backgroundImag.png' resource id but it works with 'map2.png'.
Is it correct anyway ?

[2018-10-21 17:44] amenak77 commented on #138
@jtommy if this may help you: when I want to change freedomotic's background, I rename and replace the new background file as "map2.png". I think it is correct

[2018-10-23 14:21] amenak77 opened #197 "client panel settings scrollbar not working"
![settings_panel_err](https://user-images.githubusercontent.com/13914556/47367190-7a238780-d6df-11e8-8427-a48cd89d0761.jpg)

When you resize client's window with settings panel opened, scrollbar doesn't appear

[2018-10-23 14:25] amenak77 commented on #197
![settings_panel_compl](https://user-images.githubusercontent.com/13914556/47367518-1cdc0600-d6e0-11e8-83dc-319c3957b480.jpg)

Here we can see settings panel complete

[2018-10-25 00:55] Jeff-Duke commented on #94
PR open for this @mcicolella https://github.com/freedomotic/fd-vue-webapp/pull/198

[2018-10-25 01:15] Jeff-Duke commented on #95
PR open for this: https://github.com/freedomotic/fd-vue-webapp/pull/199

[2018-10-25 06:32] mcicolella commented on #94
Merged!
Thanks @Jeff-Duke

[2018-10-25 06:32] #94 closed

[2018-10-25 06:46] P3trur0 opened #200 "Make a better URL endpoint configuration through environment variables"
Currently, in order to configure a proper URL endpoint for API requests, there is a strange workaround [here](https://github.com/freedomotic/fd-vue-webapp/blob/4cd2576666a5e8c659e2d8227cbadaea41348d88/src/utils/fd-axios.js#L8):

[code]

I think this `FD_API_URL` instantiation should be performed through an environment configuration, not within the `fd-axios.js` file itself. I mean like [these](htt

[2018-10-27 22:35] berksaribas commented on #156
Will be adding Turkish support.

[2018-10-29 07:59] mcicolella commented on #138
Fixed in 19608d391e56dd8b7f2d9a7c1d7bb55501daf7ab

[2018-10-29 07:59] #138 closed

[2018-10-31 07:11] #95 closed

[2018-10-31 09:32] mcicolella opened #203 "Connect 'Protocol' field to 'availableProtocols' getter"
The field [Protocol](https://github.com/freedomotic/fd-vue-webapp/blob/093a7d4f19dd3f109ae0c214e27d7810ed6f8356/src/components/ThingsEditor.vue#L27) should list the available protocols.
These data can be retrieved from Vuex getter [availableProtocols](https://github.com/freedomotic/fd-vue-webapp/blob/093a7d4f19dd3f109ae0c214e27d7810ed6f8356/src/store/getters.js#L5).

![schermata del 2018-10-31 10-

[2018-11-03 07:36] #197 closed

[2018-11-09 18:51] amenak77 commented on #203
![protocol_own](https://user-images.githubusercontent.com/13914556/48282007-bf261880-e458-11e8-9c43-d888e1c258b3.jpg)

I have not this problem

[2018-11-09 18:56] amenak77 commented on #203
Maybe there is something strange about light's object structure; a question: is it possible having a light object without a protocol?

[2018-11-10 07:12] mcicolella commented on #203
Yes, by default protocol and address are set to 'unknown'. In this case you have a virtual object.

[2018-11-10 08:10] amenak77 commented on #203
Ok, then online demo object light maybe has "unknown" as a protocol by default and vue getter works correcly; in fact it has correctly shown "openwebnet" in 1*41 light of my myhome system; perhaps there is no issue except the idea of virtual object

[2018-11-10 08:32] mcicolella commented on #203
If you want to associate/change a protocol you need a list of them as in Jfrontend. This is the issue.

[2018-11-24 15:53] #203 closed

[2018-11-24 15:54] mcicolella commented on #145
Fixed in d0629271107ec042de36158ca7e979a40b9e5daa

[2018-11-24 15:54] #145 closed

[2018-12-08 11:09] heywhy opened #207 "Change of UI Framework"
I will like to suggest changing the ui framework to [quasar-framework](https://quasar-framework.org) because it is conformant with material design specs and there is the advantage of building for both android and ios from the same codebase. I will suggest you give it a try. As much as I'll love to contribute to this project I don't think its proper having different ui libraries (vue-js-modal, vue-

[2018-12-08 19:06] amenak77 commented on #207
Hi heywhy,
thanks for your contribution to the project; what you suggest is correct, but we have advantages having different ui libraries in the same project; one for all, the possiblity to have different ui automatically (such as desktop and mobile) on different devices served from the same web server plugin; but as your considerations about quasar framework seem interesting, would you be availab

[2018-12-10 11:55] P3trur0 commented on #207
@heywhy thank you for your proposal.
Personally I agree with your point of view. I am looking forward to seeing your PR about this enhancement. :muscle: :smiley:

[2018-12-11 09:05] amenak77 commented on #207
@heywhy thanks again for your most valued contribution; I'm very much curious too to see this incredible project's evolution. Pease let us know about work in progress periodically

[2018-12-11 11:38] heywhy commented on #207
you can check this [video](https://www.useloom.com/share/4bfd7e92158c4e3cbd599901eef822aa), though it doesn't contain so much yet.

[2018-12-11 12:33] heywhy commented on #207
what do y'all think, of the look?
![screenshot from 2018-12-11 13-29-51](https://user-images.githubusercontent.com/13123868/49800926-0c8ff100-fd49-11e8-9821-2eb17b5072ab.png)

[2018-12-11 15:35] heywhy commented on #207
Below is the settings page, someone should be able to help with the flag names (:smile: I don't recognise them) when I make a pull request, I hope to get a feedback soon.
![screenshot from 2018-12-11 16-28-54](https://user-images.githubusercontent.com/13123868/49810676-01958a80-fd62-11e8-9448-8643ba7386b1.png)

[2018-12-11 16:37] amenak77 commented on #207
@heywhy OK first screenshot to me!! the flags are (from up to down from first vertical row: Norway, Romania, Slovakia, Turkey. Good Job!!!!

[2018-12-11 17:56] P3trur0 commented on #207
@heywhy  so far it seems brilliant. Are these changes already on your fork?

[2018-12-11 18:45] heywhy commented on #207
@P3trur0 The changes are on my fork already.

[2018-12-11 19:09] heywhy commented on #207
This is the mobile view also.
![screenshot from 2018-12-11 19-23-35](https://user-images.githubusercontent.com/13123868/49823532-344e7b80-fd80-11e8-8310-a4324ce56da5.png)
![screenshot from 2018-12-11 20-07-01](https://user-images.githubusercontent.com/13123868/49823593-5d6f0c00-fd80-11e8-8c7d-9f62559667a3.png)

[2018-12-11 20:07] amenak77 commented on #207
@heywhy fantastic!

[2018-12-11 22:15] heywhy commented on #207
I will like y'all to watch this [video](https://www.useloom.com/share/5b66b89d066e45e3bb82bca82144cc52) (I'm sure Y'all will :heart: it).
You should also create a dev branch on this repo so that I can make a pull request towards the dev branch :smile:

[2018-12-12 07:54] amenak77 commented on #207
@heywhy I love your video  @P3trur0 could you fix the dev branch problem?

[2018-12-12 07:54] P3trur0 commented on #207
@heywhy currently we have not deployed this application in production so you could safely open your PR on `master`.

[2018-12-12 10:52] heywhy commented on #207
@P3trur0 I can't find the development branch on this repo. Are you sure it has been created? :confused:

[2018-12-12 10:59] P3trur0 commented on #207
@heywhy please, check again.

[2018-12-12 15:36] heywhy commented on #207
I had to fork the repo again because of my misunderstanding of the rebase concept :disappointed: , so I screwed somethings but I now understand it. A new pull request has been made.

Actually, today is my first time using `git rebase` which led to screwing up my fork. I now have a better understanding of the concept and how to go about it. :disappointed_relieved:

[2018-12-12 18:35] P3trur0 commented on #207
@heywhy no problem at all, happy learning! 😄 I'll review it again ASAP.

However, as previously stated, this update to Quasar could be merged only when all the scaffolding will be cleaned up properly. I mean, for example, the content of `a/` directory should be reorganized in the proper directory structure and the application behavior shall be the same as before.

So, please, take your time to cle

[2018-12-12 18:56] heywhy commented on #207
Okay, I will do that

[2019-03-04 11:55] alzaar commented on #191
Hi,
This issue can be easily fixed but when I started working on this I got this.
<img width="1196" alt="screen shot 2019-03-04 at 6 54 08 am" src="https://user-images.githubusercontent.com/39810925/53731963-64229200-3e4a-11e9-8ab2-528bc9618dd6.png">

After following the instructions, when I started the server and used admin for both password and username, I received a message 'bad login informati

[2019-03-16 02:15] amenak77 commented on #191
Hi Alzaar,
Excuse me for late answer. I've got, since some times now, your same problem. A bad login error manifests itself when I try to run vue webapp project; you can bypass the problem if you compile the app and update the file into Freedomotic webserver plugin; you can see changes poiting from webbrowser to [freedomotic ip address]:8090

[2019-03-16 17:37] amenak77 commented on #191
Hi Alzaar,
I asked to Mauro about this problem and he confirmed to me that the reason about malfunction is due to a problem with Freedomotic online instance which serves the webapp. We will fix it ASAP. Thanks again for your contribution. Best regards, Alberto

[2019-04-26 13:06] mcicolella commented on #207
Hi @heywhy are you still on this?

[2019-04-30 07:54] heywhy commented on #207
@mcicolella I'm sorry for replying now I guess I missed the notification. I'm still on it but I halted the development because of quasar v1 is under development (it's in beta now), I wanted it to be stable enough or officially said it is stable, so that I can continue.

[2019-05-05 19:22] amenak77 commented on #191
Hi Alzaar,
Freedomotic instance is online again; if you are still interested in fixing panel layout issues, now you can. Have a nice day, Alberto

[2019-07-16 18:30] hasan-wajahat commented on #191
hey @mcicolella I created a fix for this but how do I add the fix? I tried pushing my own branch but don't have access to do so. Please let me know what I need to do.

[2019-07-16 23:42] cristianeams commented on #156
Hey,  I can add Portuguese translations :)

[2019-07-17 21:46] amenak77 commented on #156
Hi Cristiane,
Thank you very much for your contribution; feel free to proceed whenever you want. Have a nice day, Alberto

[2019-07-17 23:02] cristianeams commented on #156
Thanks @amenak77.
 I joined the team at Transifex and I'm waiting for approval. I can do solution #2 as well, if it works better for you folks.

[2019-07-18 05:14] amenak77 commented on #156
Very good! Thanks again

[2019-07-18 05:20] amenak77 commented on #156
Usually, for a new language translation, it should be better #1

[2019-07-22 19:32] cristianeams opened #212 "translation"

[2019-07-22 19:32] #212 closed

[2019-08-15 08:38] mcicolella opened #214 "Travis CI fails"
Travis CI fails with the following error

` { message: 'session not created: Chrome version must be between 71 and 75\n  (Driver info: chromedriver=2.46.628388 (4a34a70827ac54148e092aafb70504c4ea7ae926),platform=Linux 4.4.0-101-generic x86_64) (WARNING: The server did not provide any stacktrace information)\nCommand duration or timeout: 1.05 seconds\nBuild info: version: \'3.141.59\', revision: \'

[2019-08-15 12:15] amenak77 commented on #214
Is it because, chrome is not updated?

[2019-10-08 15:19] mcdead154 commented on #192
Hi, i would like to take this issue as my first contribution, if it is still relevant.

[2019-10-08 15:54] mcicolella commented on #192
@mcdead154 ok

[2019-10-09 13:26] #214 closed

[2019-10-10 07:55] pat-lego commented on #214
Most likely because of the driver used to connect to chrome is not up to date. TravisCI pulls the latest Chrome browser this is something that is not configurable in TravisCI.

Check the driver that is being to communicate with TravisCI for updates.

[2019-10-11 04:41] amenak77 commented on #214
Sort of..... :)

[2019-10-19 21:22] heywhy commented on #207
@mcicolella I'm very glad to say I will be continuing the upgrade starting from tommorow, and I hope to complete it before the end of the year. Cheers.

[2019-10-20 14:34] amenak77 commented on #207
Hi heywhy,
Thank you very much for your contribution; please let us update about your progresses

[2019-10-31 15:04] wellart commented on #156
i can add Indonesian

[2019-11-22 14:10] mcicolella opened #217 "Project build fails"
When you execute `npm run build` the process fails with the following error

`ERROR in static/js/vendor.8fa79e6c6b85a1d6a429.js from UglifyJs
Unexpected token: name (code) [./~/vue-snotify/vue-snotify.esm.js:104,0][static/js/vendor.8fa79e6c6b85a1d6a429.js:17691,12]

  Build failed with errors.

npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! fd-vue-webapp@1.0.0 build: `node build/build.js`
npm

[2020-04-19 15:27] amenak77 commented on #217
Ciao a tutti,
Potrebbe esserci una soluzione qui: https://github.com/artemsky/vue-snotify/issues/52
Sembra un problema legato al fatto che non c’è del codice Vue in sintassi ES6 nel progetto, ma del codice in sintassi ES6 nella versione compilata del modulo. Ci vuole una piccola modifica al codice sorgente. C’è anche un consiglio su come evitare che si crei questo disallineamento. Ciao, Alberto

[2020-04-19 15:48] amenak77 commented on #217
Hi everyone,
excuse me for my lack in education, but I overreactednand responded in Italian. The issue is probably due to a Vue issue reported nere: artemsky/vue-snotify#52  There is a little code changing to do. Bye, Alberto

[2020-04-19 17:14] amenak77 commented on #217
Thanks to wmcmurray for reporting

[2020-04-20 17:12] #217 closed

[2020-04-20 17:13] mcicolella commented on #217
Thanks @amenak77

[2020-04-23 16:47] amenak77 commented on #207
Hi heywhy,
Any news about your work in progress?

[2020-05-02 18:58] amenak77 commented on #214
Solution

Keep JDK upgraded to recent levels JDK 8u201.
Uninstall all the instances of Chrome Browser (you can opt to use Revo Uninstaller).
Upgrade ChromeDriver to current ChromeDriver v2.46 level.
Keep Chrome version between Chrome v71-73 levels. (as per ChromeDriver v2.46 release notes)

[2020-05-02 20:29] amenak77 commented on #214
It is best stackoverflow advice about this  issue 😅

[2020-05-02 21:08] amenak77 opened #218 "Freeze bug 2 the revenge client Vue side"
If you run Vue web app even on many devices, the status alignment between GUI and objects is quick and perfect, but if you “iconize” client’s browser page, make changes and resume  client, GUI doesn’t align to objects status. It seems that we can’t get rid of freeze bug since it appeared for the first time many years ago, even if, to be honest, thanks to P3trur0 and a little to myself, freeze bug

[2020-05-03 20:57] amenak77 commented on #218
Hi to all,
we can rise the bug also, if we run two web app client instances in two smartphone browser’s tags. Bug apart, every single instance works fine, however

[2020-07-31 09:09] mcicolella commented on #207
Closed by 9032e55319cfae9ad2431b29c78a868f223b1f9f

[2020-07-31 09:09] #207 closed

[2020-07-31 09:17] mcicolella commented on #123
Feature no more available in Freedomotic.

[2020-07-31 09:17] #123 closed

[2020-07-31 09:18] mcicolella commented on #89
Fixed by switching to Quasar.

[2020-07-31 09:18] #89 closed

[2020-07-31 09:21] #83 closed

[2020-07-31 19:55] #81 closed

[2020-09-26 08:15] mcicolella commented on #129
Fixed with Quasar version.

[2020-09-26 08:15] #129 closed

[2020-09-26 08:18] mcicolella commented on #191
Fixed with Quasar version.

[2020-09-26 08:18] #191 closed

[2020-09-26 08:20] mcicolella commented on #56
Fixed with Quasar version.

[2020-09-26 08:20] #56 closed

[2020-09-26 08:22] #71 closed

[2020-10-04 15:21] mcicolella commented on #54
Fixed in Quasar version

[2020-10-04 15:21] #54 closed

[2020-10-04 15:22] #9 closed

[2020-10-04 15:26] #126 closed

[2020-10-04 16:21] mcicolella opened #219 "Show ThingsEditor dialog when right-click on environment thing"
When you right-click on a thing inside the environment it should open a Quasar modal with a ThingsEditor component.

Component to change: [Environment](https://github.com/freedomotic/fd-vue-webapp/blob/master/src/components/Environment.vue)
Function to change: [openThingEditor](https://github.com/freedomotic/fd-vue-webapp/blob/bf3bf4e828057f798cf87847ac526104dd40be1e/src/components/Environment.vue

[2020-10-04 16:30] P3trur0 commented on #219
Hi @mcicolella I can take this 😃

[2020-10-05 10:08] #219 closed

[2020-10-06 13:08] mcicolella opened #221 "Fix icon position in Plugin card"
As shown in the folowing screenshot we need to fix the plugin icon
![Schermata da 2020-10-06 15-02-03](https://user-images.githubusercontent.com/4079634/95204944-081dad80-07e5-11eb-9d0d-ba4a737d4de2.png)

Component to modify
[Plugin.vue](https://github.com/freedomotic/fd-vue-webapp/blob/master/src/components/Plugin.vue)

[2020-10-07 19:44] thearavind commented on #221
Hi @mcicolella can I work on this ?

[2020-10-07 19:47] thearavind commented on #200
Hi @P3trur0 can I work on this issue

[2020-10-07 20:47] mcicolella commented on #221
Yes, if you want

[2020-10-09 15:03] mcicolella opened #223 "Exclude some plugins from card rendering"
We should exclude some plugins from rendering (they are used for core functions).
E.g. RestApi, Scheduler

Component to modify:
[PluginsPanel.vue](https://github.com/freedomotic/fd-vue-webapp/blob/master/src/components/PluginsPanel.vue)

Method to modify:
[getPluginsList](https://github.com/freedomotic/fd-vue-webapp/blob/83e8a1a0dfab68c377a2ea2a64caea0bc5d49a8d/src/components/PluginsPanel.vue#L62)

[2020-10-09 18:23] mcicolella opened #224 "Add background image to Login component"
Add the background image to Login component as in Dashboard component.

Component to modify:
[Login.vue](https://github.com/freedomotic/fd-vue-webapp/blob/master/src/components/Login.vue) (desktop section / no mobile)

Image to add as background
[bkgnd.jpg](https://github.com/freedomotic/fd-vue-webapp/blob/master/src/assets/bkgnd.jpg)

[2020-10-09 18:48] mcicolella opened #225 "Find nice icons for ThingsEditor menu"
We need nice icons for the menu according with the items (properties, appearance etc)

![Schermata da 2020-10-09 20-43-58](https://user-images.githubusercontent.com/4079634/95620494-90fc4980-0a70-11eb-958a-4ea2c2cb079b.png)

Component to modify
[ThingsEditor](https://github.com/freedomotic/fd-vue-webapp/blob/master/src/components/ThingsEditor.vue)

[2020-10-09 22:42] ayushpandey8439 commented on #224
Hey, I could work on this if its okay.. :)

[2020-10-10 06:00] mcicolella commented on #224
Fixed in #226

[2020-10-10 06:00] #224 closed

[2020-10-10 06:42] mcicolella opened #227 "Enable things drag&drop"
We want to enable things drag&drop inside every environment.
There are already two methods for that: dragStartHandler and drop.
We need to review and adapt the code.
To enable the feature there is a menu option: Enable move things
![Schermata da 2020-10-10 08-40-34](https://user-images.githubusercontent.com/4079634/95647998-53310c80-0ad4-11eb-86d5-b895812177a2.png)

When the things are in "moving

[2020-10-10 06:49] mcicolella opened #228 "Disable expand arrow in Thing card when the beaviours list is empty"
Some things have an empty behaviours list.
In this case we should disable the expand arrow.

![Schermata da 2020-10-10 08-48-41](https://user-images.githubusercontent.com/4079634/95648163-6bedf200-0ad5-11eb-82cc-26ccf78040cf.png)

Component to modify
[Thing](https://github.com/freedomotic/fd-vue-webapp/blob/059e0b2ef67500611e1497b993ec698bea3e6398/src/components/Thing.vue#L48)

[2020-10-10 09:14] leobia commented on #225
Hi! I would like to help you on this issue. I'll send a pull request with a screenshot of the new Icons.

[2020-10-10 11:49] mcicolella commented on #225
Fixed in #229

[2020-10-10 11:49] #225 closed

[2020-10-10 12:37] leobia commented on #228
Hi, as it was a fairly easy task I took the initiative to fix it. Hope you don't mind :)

[2020-10-10 13:02] mcicolella commented on #228
It's ok. Thanks.

[2020-10-10 14:05] #141 closed

[2020-10-10 17:44] #228 closed

[2020-10-10 17:54] mcicolella opened #231 "Add a button to ThingsPanel to create a new thing"
For now it should open an empty dialog box with the title "Add new thing" and two buttons: Confirm and Delete.
The button should be positioned at right bottom.

[2020-10-11 06:28] gitshashwat commented on #231
It requires a username and password to sign in!

[2020-10-11 13:23] amenak77 commented on #231
Hi gitshashwat,
Username and password are “admin, admin”

[2020-10-11 16:47] mcicolella opened #232 "Customize notifications"
For "info" notifications we should have

- color: green
- position: top

Component to modify
[App.vue - ](https://github.com/freedomotic/fd-vue-webapp/blob/2acf920022d924cab6596b8643085e9771e2c69a/src/App.vue#L30)

Ref. [Quasar - Notify](https://quasar.dev/quasar-plugins/notify)

[2020-10-11 17:01] michelvosje commented on #232
Let me try this.

[2020-10-11 18:28] mcicolella commented on #232
Fixed in #233

[2020-10-11 18:28] #232 closed

[2020-10-12 06:17] #221 closed

[2020-10-12 18:00] mcicolella opened #234 "Investigate why changeBehavior doesn't fire in Thing component"
The method [changeBehavior](https://github.com/freedomotic/fd-vue-webapp/blob/366cc042020a8fe27f0199a87079d9f888a846b9/src/components/Thing.vue#L254) should fire when the [toggle button](https://github.com/freedomotic/fd-vue-webapp/blob/366cc042020a8fe27f0199a87079d9f888a846b9/src/components/Thing.vue#L75) changes its state.

[2020-10-13 18:12] mcicolella commented on #234
Ok

[2020-10-13 19:20] mcicolella commented on #234
Fixed by #235

[2020-10-13 19:20] #234 closed

[2020-10-18 07:39] amenak77 opened #236 "Menu things object light slider doesn’t align status to object in mobile version"
This issue rises in app mobile frontend only

[2020-10-27 11:22] #223 closed

[2020-10-27 11:24] #125 closed

[2020-10-27 11:29] #231 closed

[2020-10-29 11:17] #85 closed

[2021-02-01 17:36] anilakodukula commented on #192
is this still an issue? The link above to the code does not work.

[2021-10-13 07:12] P3trur0 commented on #119
Hello @1freitas yes, please!

However, we'd like to stay with Jest, if possible.

/cc @mcicolella

[2022-01-27 09:15] henok-tesfu commented on #227
is the issue still open?

[2022-02-10 18:27] mcicolella commented on #227
@henok-tesfu yes

[2022-02-10 18:30] mcicolella opened #244 "Add a Dockerfile for the application"

[2022-03-22 15:19] mcicolella opened #245 "Enable CI/CD with GitHub Actions"

[2022-06-03 11:44] mcicolella commented on #244
Yes, if you want

[2022-06-23 06:36] mayankjx commented on #244
Do you want docker image to run development environment too or just production environment

[2022-06-26 05:23] mayankjx commented on #244
I mean do you want to use docker for local development, I do not suggest it because HMR is slow when using docker @mcicolella